{% extends 'base_ds2013.html.twig' %}

{% block page_classes %}programmes-page text-base programmes-page--flush{% endblock %}

{% block body %}
    <div class="b-g-p no-margin-vertical islet--vertical br-box-highlight br-highlight-bg-onbg080{{ page_presenter.service.isTv ? ' visually-hidden' }}" id="schedule-header">
        <h1>
        <span class="visually-hidden">
            <span class="outlet">
                {{ tr('schedule_title', {'%1':page_presenter.service.name}) }}
            </span>
        </span>
            <time class="date">
                {#@TODO deal with international services always showing UTC rather than using GMT/BST ?#}
                {{ page_presenter.startDate.format('l j F Y') }}
            </time>
        </h1>
    </div>

    <nav class="schedule-nav-wrapper fixedsticky">
        <div id="schedule-daynav" class="centi br-box-highlight {{ page_presenter.service.isTv ? 'g-o-l daynav--tvschedule' : 'g-f-l' }}">
            {{ ds2013('dateList', page_presenter.startDate, page_presenter.service ) }}
        </div>
    </nav>

    <div class="b-g-p br-box-page island--vertical">
        {{ ds2013('regionPick', page_presenter.service, app.request.attributes.get('date'), page_presenter.servicesInNetwork) }}

        {% block content %}{% endblock %}

        {# Only show services list if there are more than two #}
        {% if page_presenter.servicesInNetwork|length > 2 %}
            {{ ds2013('networkServicesList', page_presenter.service, app.request.attributes.get('date'), page_presenter.servicesInNetwork) }}
        {% endif %}
    </div>
{% endblock %}
