{% extends 'base_ds2013.html.twig' %}

{% block page_classes %}programmes-page text-base programmes-page--flush{% endblock %}

{% block body %}
    <div class="b-g-p no-margin-vertical islet--vertical br-box-highlight br-highlight-bg-onbg080{{ service.isTv ? ' visually-hidden' }}" id="schedule-header">
        <h1>
        <span class="visually-hidden">
            <span class="outlet">
                {{ tr('schedule_title', {'%1': service.name}) }}
            </span>
        </span>
            <time class="date">
                {#@TODO deal with international services always showing UTC rather than using GMT/BST ?#}
                {{ start_date.format('l j F Y') }}
            </time>
        </h1>
    </div>

    <nav class="schedule-nav-wrapper fixedsticky">
        <div id="schedule-daynav" class="centi br-box-highlight {{ service.isTv ? 'g-o-l' : 'g-f-l' }}">
            {{ ds2013('dateList', start_date, service) }}
        </div>
    </nav>

    <div class="b-g-p br-box-page island--vertical">
        {{ ds2013_presenter(page_presenter) }}
    </div>
{% endblock %}
