{% extends 'schedules/by_base.html.twig' %}

{% block body %}
    {% if schedule_reload is defined and schedule_reload %}
        <div class="schedule-reload-container lazy-module--loading--loader" data-utcoffset-replace="{{ path('schedules_by_day', {'pid' : service.getPid(), date: page_presenter.getRouteDate(), 'no_chrome' : '1'}) }}">
    {% else %}
        <div>
    {% endif %}
        {{ block('body_inner') }}
    </div>
{%- endblock -%}

{% block date %}{{ broadcast_day_start|local_date_intl('eeee d MMMM y') }}{% endblock %}

{%- block date_nav -%}
    <nav class="schedule-nav-wrapper">
        <div id="schedule-daynav" class="centi br-box-highlight g-f-l">
            {{ ds2013('dateList', broadcast_day_start, service) }}
        </div>
    </nav>
{%- endblock -%}

{%- block header_links -%}
    {% if service.isRadio() %}
        {% spaceless %}
            <ul class="heading-links nav nav--piped pull--right delta">
                <li class="hidden grid-visible@bpw">
                    <a href="{{ path('schedules_by_vanity', {pid: service.getPid(), vanity: 'this_week'}) }}" class="introduction--switch-link" data-href-add-utcoffset="true">{{ tr('schedules_this_week') }}</a>
                </li>
                <li>
                    <a href="{{ path('schedules_by_vanity', {pid: service.getPid(), vanity: 'this_month'}) }}" class="introduction--calendar-link">{{ tr('schedules_calendar') }}</a>
                </li>
            </ul>
        {% endspaceless %}
    {%- endif -%}
{%- endblock -%}

{%- block schedule -%}
    <div class="b-g-p br-box-page island--vertical">
        {{ ds2013_presenter(page_presenter) }}
    </div>
{%- endblock -%}
