{%- if social_bar.getSocialMediaDetails() -%}
    <div class="grid__item map__item 1/1" data-map-column="social-bar">
        <div class="map-social-icons media media--row br-box-secondary">
            <span class="map-social__label gel-long-primer">{{- tr('find_us_at') -}}</span>
            <ul class="list-inline list-inline--social-bar">
                {%- for details in social_bar.getSocialMediaDetails() -%}
                    <li class="map-social__icon br-secondary-link-onbg015--hover">
                        <a href="{{ details.getValue() }}" title="{{ details.getType()|capitalize }}" data-extlinktrack="socialbar_{{ details.getType() }}">
                            {{ gelicon('social', details.getType(), 'gelicon--programme') }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
{%- endif -%}
