{% extends 'styleguide/amen/base.html.twig' %}
{% import _self as self %}

{% block section_name %}Programme - Items{% endblock %}

{% block content %}
    <hr>
    <h2 class="gel-double-pica-bold islet islet--vertical">Programme types variations: </h2>
    {{ self.displayListOfRenderDescriptors(itemsOfDifferentTypes) }}
    <hr>
    <h2 class="gel-double-pica-bold islet islet--vertical">Information variations: </h2>
    {{ self.displayListOfRenderDescriptors(itemsWithDifferentDisplayOptions) }}
    <hr>
    <h2 class="gel-double-pica-bold islet islet--vertical">Layout variations: </h2>
    {{ self.displayListOfRenderDescriptors(itemsWithDifferentHtmlStructure) }}
{% endblock %}


{% macro displayOptionParam(key, value) %}
    {% import _self as self %}

    {% if value is same as (true) or value is same as (false) %}
        <li> {{ key }} = {{ value ? 'true' : 'false' }} </li>
    {% else %}
        <li> {{ key }} = {{ value }} </li>
    {% endif %}
{% endmacro %}

{% macro renderOptionsToString(renderOptions) %}
    {% import _self as _same %}
    {% if renderOptions | length > 0 %}
        <ul>
            {% for key, value in renderOptions %}
                {% if value is iterable %}
                    <b>{{ key }} </b>
                    {{_same.renderOptionsToString(value)}}
                {% else %}
                    {{_same.displayOptionparam(key, value)}}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro displayListOfRenderDescriptors(listOfRenderDescriptorsDto) %}
    {% import _self as self %}

    {% for description, presenterArgs in listOfRenderDescriptorsDto %}
        <div class="grid">
            <div class="grid__item 1/3 grid__item--column">
                <div>
                    <b>Description:</b> {{description}}
                </div>
                <div>
                    {{ds_amen('programme', presenterArgs['item'], presenterArgs['render_options'])}}
                </div>
                <div class="islet islet--horizontal">
                    {% if presenterArgs['render_options'] | length > 0 %}
                        <b>Render options:</b>
                        {{self.renderOptionsToString(presenterArgs['render_options'])}}
                    {% else %}
                        <b>Render options:</b> Defaults
                    {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}
{% endmacro %}
