{% import _self as self %}

<div class="playout">
    {% if clip_playout.getClip().isStreamable() %}
        {% if clip_playout.shouldStreamViaPlayspace() %}
            {{  self.renderPlayerAsLink(clip_playout.getClip())}}
        {% else %}
            {{ ds2013_presenter(clip_playout.getSmpPresenter()) }}
        {% endif %}
    {% elseif clip_playout.getClip().getStreamableFrom() is not null %}
        {{ self.renderUnavailableAsLink(clip_playout.getClip(), 'clip_availability_future') }}
    {% else %}
        {{ self.renderUnavailableAsLink(clip_playout.getClip(), 'clip_availability_none') }}
    {% endif %}
</div>

{% macro renderPlayerAsLink(programme) %}
    <a class="playout__blocklink" data-linktrack="sounds_clippage_playcurrent_calltoaction" href="{{ path('playspace_play', {pid: programme.getPid()}) }}">
        {{ ds_shared(
            'imageEntity',
            programme.getImage(),
            640,
            {0: 1/1, 1008: 1008},
            {'is_lazy_loaded': false }
        ) }}

        <div class="playout__overlay">
            <div class="playout__message playout__message--icon br-highlight-bg-onbg--hover br-highlight-text-ontext--hover sounds">
                <span class="playout__icon">{{ gelicon('audio-visual', 'listen', 'gelicon--fill-container') }}</span>
                <span class="playout__messagetext">{{ tr('iplayer_listen_now') }}</span>
            </div>
        </div>
    </a>
{% endmacro %}

{%  macro renderUnavailableAsLink(programme, unavailable_message) %}
    {{ ds_shared('imageEntity', programme.getImage(), 640, {1: 1/1, 1008: 1008} ,{'is_lazy_loaded': false}) }}
    <div class="playout__overlay">
        <div class="playout__message">
            <span class="delta">{{ tr(unavailable_message) }}</span>
        </div>
    </div>
{% endmacro %}
