{% extends 'base_ds_amen.html.twig' %}

{% block html_classes %}b-pw-1280{% endblock %}
{% block page_classes %}gel-long-primer amen{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }}{% endblock %}
{% block adsToDisplay %}leaderboard mpu sponsor{% endblock %}

{% block body %}
    {# TODO Leaderboard Advert #}
    <div class="b-g-p">
        {{ advert('leaderboard', [1,2,3,4]) }}
    </div>

    {# TODO BBC Live Promo #}

    {# TODO Priority Vote block #}

    {% if mapPresenter.showMap() %}
        {{ ds_amen_presenter(mapPresenter) }}
    {% endif %}

    <div class="b-g-p">
        <div class="leading-gap cf">
            {# TODO Priority text block #}

            {# TODO MPU Advert #}

            {# TODO Recipes block #}

            {# TODO Promos / Galleries list #}
            {%- if promotions or clips or galleries -%}
                <ul class="grid">
                    {%- for promotion in promotions -%}
                        <li class="grid__item 1/2@gel3 1/3@gel3b 1/4@gel5">
                            {# TODO Update image sizes for double width first promo #}
                            {{- ds_amen('promotion', promotion, {
                                media_variant: 'media--column media--card',
                                cta_class: 'br-box-secondary',
                                branding_name: 'secondary',
                                link_location_prefix: 'promo_' ~ loop.index ~ '_',
                                show_synopsis: false,
                                img_sizes: { 600: 1/2, 768: 1/3, 1008: '315px', 1280: '300px' },
                            }) -}}
                        </li>
                    {%- endfor -%}

                    {%- for clip in clips -%}
                        <li class="grid__item 1/2@gel3 1/3@gel3b 1/4@gel5">
                            {{ ds_amen('programme', clip, {
                                'context_programme': programme,
                                'branding_name': 'secondary',
                                'title_options': {
                                    'text_colour_on_title_link': true,
                                    'title_size_small': 'gel-long-primer'
                                },
                                'cta_options': {
                                    'cta_class': 'br-box-secondary'
                                }
                            })}}

                            {%- if loop.last and programme.getAvailableClipsCount() > 4 -%}
                                <div class="br-box-secondary">
                                    <div class="media__footer br-keyline">
                                        <a href="{{ path('programme_clips', { pid: programme.getPid() }) }}" class="icon-link link-complex 1/1 gel-pica-bold">
                                            {{ gelicon('media', 'collection', 'gelicon--programme br-secondary-text-ontext') }}
                                            <span class="link-complex__target icon-label">{{ tr('see_all_clips') }}</span>
                                        </a>
                                    </div>
                                </div>
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                {%- endif -%}
            </ul>
            {# TODO Supporting Content blocks #}

            {# TODO Regular Vote block #}
        </div>
    </div>

{# TODO Related links block #}
{% endblock %}
