{% if download.getProgramme().isDownloadable() %}
    {% if download.getProgramme().getDownloadableMediaSets()|length == 1 %}
        <div class="buttons__download">
            <a class="link-complex br-linkinvert buttons__download__link"
               data-clicktrack="podcast_download"
               href="{{ download.getPodcastUrls()|first }}" download="{{ download.getPodcastFileName() }}"
            >
                {{ gelicon('basics', 'download', 'gelicon--centi') }}
                {{ tr('downloads', 1) }} {% if download.isUkOnlyPodcast() %}({{ tr('uk_only') }}){% endif %}
            </a>
        </div>
    {% else %}
        <div class="popup buttons__download">
            <input class="popup__status" type="checkbox" id="download-popup" checked>

            <div class="buttons__download">
                <h2 class="popup__button text-base br-linkinvert buttons__download__link" data-clicktrack="podcast_download">
                    <label for="download-popup">
                        {{ gelicon('basics', 'download', 'gelicon--centi') }}
                        {{ tr('downloads',1) }}{% if download.isUkOnlyPodcast() %} ({{ tr('uk_only') }}){% endif %}
                    </label>
                </h2>
            </div>

            <div class="popup__holder" id="download-popup-holder">
                <div class="popup__content popup__content--download br-box-secondary br-secondary-link-onbg br-secondary-link-onborder">
                    <h3 class="popup__header br-secondary-link-onborder--beforeafter br-secondary-linkhover-onborder--hover-beforeafter gamma no-margin deemphasize">
                        <label class="popup__close island--squashed br-secondary-bg-onborder br-linkinvert" for="download-popup-holder">
                            <span class="pull--right-spaced">{{ gelicon('basics', 'no', 'gelicon--centi popup__close--button') }} </span>{{ tr('choose_your_file') }}
                        </label>
                    </h3>
                    <ul class="list-unstyled popup__list">
                        {% for translationKey, url in download.getPodcastUrls() %}
                            <li>
                                <a
                                    class="link-complex popup__list__item island--squashed br-secondary-bg-ontext br-secondary-bg-onbg--hover br-secondary-link-ontext--hover"
                                    href="{{ url }}"
                                    download="{{ download.getPodcastFileName() }}"
                                    aria-label="{{ tr('downloads', 1) }} {{ tr(translationKey) }} "
                                >
                                    {{ tr(translationKey) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        require(['popup'], function(popup) {
            new popup({containerSelector: '.popup', useParentContainerWidth: true});
        });
    </script>
{% endif %}
