{% import _self as self %}

<div class="island">
    <div>
        {% if details.getEpisode().isTleo() %}
            <h1 class="no-margin visually-hidden">{{ details.getEpisode().getTitle() }}</h1>
        {% else %}
            <h1 class="no-margin">{{ details.getEpisode().getTitle() }}</h1>
            <div class="gamma">
                <div class="{% if not details.getEpisode().getParent().isTleo() %}offset{% endif %}">
                    {{ ds_shared('entityContext', details.getEpisode(), {'include_self': false}) }}
                </div>
                {% if details.getEpisode().getPosition() and details.getEpisode().getParent().getExpectedChildCount() %}
                    <span>
                        {{ tr('episode_number', {'%1': details.getEpisode().getPosition(), '%2': details.getEpisode().getParent().getExpectedChildCount()}) }}
                    </span>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="grid-wrapper">
        <div class="grid 2/3@bpw 3/4@bpe">
            {{ self.intro(details) }}
        </div>
        <div class="grid 1/3@bpw 1/4@bpe">
            {{ self.additionalInfo(details) }}
        </div>
    </div>
</div>

{% macro additionalInfo(presenter) %}
    <div class="map__intro">
        {% if presenter.getEpisode().getReleaseDate() and not presenter.hasPreviousBroadcast() %}
            <div class="episode-panel__meta">
                <span class="visually-hidden">{{ tr('release_date', {'%1': ''}) }}</span>
                <time datetime="{{ presenter.getReleaseDate()|local_date('Y-m-d') }}">{{ presenter.getReleaseDate()|local_date_intl('dd MMMM Y') }}</time>
            </div>
        {% endif %}
        {% if presenter.getEpisode().hasPlayableDestination() %}
            <p class="episode-panel__meta">
                {% if presenter.isAvailableIndefinitely() %}
                    {{ tr('available_now') }}
                {% else %}
                    <span title="{{ presenter.getEpisode().streamableUntil()|local_date_intl('EEE dd MMMM yyyy, HH:mm') }}">{{ presenter.getStreamableTimeRemaining() }}</span>
                {% endif %}
            </p>
        {% endif %}

        {% if presenter.getEpisode().getDuration() %}
            <p class="episode-panel__meta">
                {{ gelicon('core', 'duration', 'gelicon--centi gelicon--leading') }}{{ presenter.getDuration() }}
            </p>
        {% endif %}
        {% if presenter.getEpisode().isStreamableAlternate() and presenter.getEpisode().isTv() %}
            <p class="episode-panel__meta delta">
                {% if presenter.hasAvailableSignedVersion() %}
                    <a class="text--no-ul" title="{{ tr('signed') }}" href="{{ path('iplayer_play', {'pid': presenter.getEpisode().getPid(), 'version': 'sign'}) }}">
                        {{ gelicon('audio-visual', 'sign-language-1', 'episode-panel__alternate-icon') }}<span class="visually-hidden">{{ tr('signed') }}</span>
                    </a>
                {% endif %}
                {% if presenter.hasAvailableAudioDescribedVersion() %}
                    <a class="text--no-ul" title="{{ tr('audio_described') }}" href="{{ path('iplayer_play', {'pid': presenter.getEpisode().getPid(), 'version': 'ad'}) }}">
                        {{ gelicon('audio-visual', 'audio-description', 'episode-panel__alternate-icon') }}<span class="visually-hidden">{{ tr('audio_described') }}</span>
                    </a>
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endmacro %}

{% macro intro(presenter) %}
    <div class="episode-panel__intro">
        {% if presenter.getEpisode().getLongestSynopsis() %}
            <div class="map__intro__synopsis centi">{{ ds_shared('synopsis', presenter.getEpisode().getSynopses(), 300) }}</div>
        {% endif %}
        {% if presenter.getEpisode().isRadio() %}
            {{ add_button('episode-map-favourites-button', presenter.getEpisode().getPid(), 'programme', presenter.getEpisode().getPid(), presenter.getEpisode().getTitle()) }}
            <div id="episode-map-favourites-button" class="favourites-module-wrapper map__buttons favourites-button buttons--favourites-small"></div>
        {% endif %}
        {%- if presenter.canBeDownloaded() -%}
            {{ ds2013('download', presenter.getEpisode(), presenter.getDownloadableVersion(), presenter.getPodcast(), {}) }}
        {% endif %}
    </div>
{% endmacro %}
