{% import _self as self %}

<table class="calendar-table">
    <caption class="br-box-highlight {{ calendar.getOption('hide_caption') ? 'visually-hidden' }}">
        <span class="beta">{{ calendar.getFirstOfMonth()|local_date_intl('MMMM yyyy') }}</span>
    </caption>
    <thead>
    <tr>
        {% set startOfCalendar = calendar.getFirstOfMonth().startOfWeek() %}
        {%- for offset in 0..6 -%}
            {% set day = startOfCalendar.addDays(offset) %}
            <th scope="col" class="days">
                <abbr class="box-link" title="{{ day|local_date_intl('EEEE') }}">{{ day|local_date_intl('EE') }}</abbr>
            </th>
        {%- endfor -%}
    </tr>
    </thead>
    <tbody>
    {%- for week in 0..5 -%}
        <tr>
            {%- for day in 0..6 -%}
                {{ self.dayCell(calendar.getFirstOfMonth(), week, day, calendar.getPid()) }}
            {%- endfor -%}
        </tr>
    {%- endfor -%}
    </tbody>
</table>

{% macro dayCell(firstOfMonth, week, day, pid) %}
    {% set date = firstOfMonth.startOfWeek().addDays((week*7) + day) %}
    <td class="{{ firstOfMonth.format('m') == date.format('m') ? 'br-box-highlight' : 'br-box-subtle' }} br-page-bg-onborder"
        datatype="xsd:date" content="{{ date|local_date('Y-m-d') }}">
        <a class="box-link"
           href="{{ path('schedules_by_day', {pid: pid, date: date|local_date('Y-m-d')}) }}">{{ date|local_date('j') }}</a>
    </td>
{% endmacro %}
