{%- set hasAdverts = adverts_set_blocks(meta_context.showAdverts and block('adsToDisplay') is defined ? block('adsToDisplay') : '') -%}

<!DOCTYPE html>
<html class="{{ branding.getOrbitThemeClasses()|raw }} {% block html_classes %}{% endblock %}" lang="{{ tr('language_code') }}">
    <head>
        <meta charset="UTF-8">
        {% if meta_context.metaNoIndex() %}<meta name="robots" content="noindex">{% endif %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="https://www.bbc.co.uk/favicon.ico" type="image/x-icon">
        {% if meta_context.canonicalUrl() %}<link rel="canonical" href="{{ meta_context.canonicalUrl() }}">{% endif %}
        <meta name="theme-color" content="{{ branding.getColours().highlight.bg|default('#2B2B2B') }}">
        <meta name="description" content="{{ meta_context.description() }}">

        {#- Facebook pages that are allowed to edit FB preview titles and descriptions -#}
        <meta property="fb:pages" content="{{ meta_context.getBBCFacebookPageIds() }}">

        {#- OpenGraph tags for Facebook/Twitter -#}
        <meta property="og:site_name" content="BBC">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:type" content="website">
        {% if meta_context.canonicalUrl() %}<meta property="og:url" content="{{ meta_context.canonicalUrl() }}">{% endif %}
        <meta property="og:description" content="{{ meta_context.description() }}">
        <meta property="og:image" content="{{ meta_context.image().getUrl(1200, 675) }}">

        {#- Twitter-specific tags -#}
        <meta name="twitter:card" content="summary_large_image">

        {#- Android/iOS homepage icons -#}
        <link rel="shortcut icon" sizes="196x196" href="{{ meta_context.image().getUrl(208, 208) }}">
        <link rel="shortcut icon" sizes="128x128" href="{{ meta_context.image().getUrl(128, 128) }}">
        <link rel="apple-touch-icon" href="{{ meta_context.image().getUrl(80, 80) }}" >
        <link rel="apple-touch-icon" sizes="120x120" href="{{ meta_context.image().getUrl(128,128) }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ meta_context.image().getUrl(160, 160) }}">

        {#- This image 272px not 150px wide because Microsoft suggests the image
            dimensions be 1.8x larger than the rendered size to allow for scaling.
            See https://msdn.microsoft.com/en-us/library/dn439794(v=vs.85).aspx
        -#}
        <meta name="msapplication-square150x150logo" content="{{ meta_context.image().getUrl(272, 272) }}">

        {% if meta_context.canonicalUrl() and meta_context.isRadio() %}
            <meta name="apple-itunes-app" content="app-id=560458506, app-argument={{ meta_context.canonicalUrl() }}?bbc_referrer={{ meta_context.canonicalUrl()|url_encode }}">
        {% endif %}
        <!-- iSite2 Project (Tenant space): {{ meta_context.getProjectSpace() }} -->
        {#
            bbcdotcom adverts requires synchronous fig loading.
            See https://navigation.api.bbc.co.uk/docs/fig.md#using-a-blocking-fig
            Remove this once Ads work without the blocking fig - GNLADAPPS-38
        #}
        {% if hasAdverts %}<script>window.orb_fig_blocking = true;</script>{% endif %}
        {{ orb.getHead()|raw }}
        {{ branding.getHead()|raw }}

        <!--[if (gt IE 8)|!(IE)]><!-->
            <link rel="stylesheet" href="{{ asset('css/ds2013.css') }}" />
        <!--<![endif]-->
        <!--[if (lt IE 9)&(!IEMobile)]>
            <link rel="stylesheet" href="{{ asset('css/ds2013-ie.css') }}" />
        <![endif]-->
        {% block inline_head %}{% endblock %}

        <script>document.documentElement.className += ' has-js';</script>
        <script>
            requirejs.config({
                "paths": {
                    'jquery-1.9': "https://static.bbci.co.uk/frameworks/jquery/0.4.1/sharedmodules/jquery-1.9.1",
                    'rv-bootstrap': "{{ asset_js('js/rv-bootstrap.js') }}",
                    'timezone-notification': "{{ asset_js('js/timezone-notification.js') }}",
                    'comscorews': "{{ asset_js('js/comscorews.js') }}"
                },
                "priority": ['jquery-1.9', 'rv-bootstrap', 'timezone-notification'],
                "map": {
                    "*": {
                        "jquery": "jquery-1.9"
                    }
                }
            });
        </script>
        {{ adverts_head() }}
    </head>
    <body {% if meta_context.hasSchemaType() %}vocab="http://schema.org/" typeof="{{ rdfa_schema_programme_typeof(meta_context.context()) }}"{% endif %}>
        {{ orb.getBodyfirst()|raw }}
        {{ branding.getBodyFirst()|raw }}

        <div class="{% block page_classes %}programmes-page text-base b-g-p{% endblock %}" id="programmes-content" role="main">
        {% block body %}{% endblock %}
        </div>
        {{ gelicons_source() }}
        <script>
            require(['rv-bootstrap']);
        </script>
        {% if comscore %}
            {# This line is some dark magic to put the title the user sees into the analytics #}
            {{ comscore.setLabel('c8', block('title')) }}
            <script>
                require(['comscorews'], function(comscore) {
                    var csoptions = {
                        labels: {{ comscore.getLabels() | json_encode | raw }},
                        scorecardUrl: {{ comscore.getScorecardUrl() | json_encode | raw }},
                        sscUrl: {{ comscore.getBaseUrl() | json_encode | raw }}
                    };
                    var cs = new comscore(csoptions);
                    cs.sendPageViewBeacon();
                });
            </script>
            <noscript>
                <img class="visually-hidden" src="{{ comscore.getTrackingUrl() }}" width="1" height="1" />
            </noscript>
        {% endif %}
        {% block javascripts %}{% endblock %}
        {{ branding.getBodyLast()|raw }}
        {{ orb.getBodylast()|raw }}
    </body>
</html>
