<!DOCTYPE html>
<html class="{{ branding.orbitThemeClasses|raw }} {% block html_classes %}{% endblock %}" lang="{{ branding.options.language|default('en') }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="https://www.bbc.co.uk/favicon.ico" type="image/x-icon"/>
        <meta name="theme-color" content="{{ branding.colours.highlight.bg|default('#2B2B2B') }}"/>
        <meta name="description" content="{{ metaContext.description }}">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:site_name" content="BBC">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:type" content="website">
        <link rel="canonical" href="{{ canonical }}">
        <meta property="og:url" content="{{ canonical }}">
        <meta property="og:description" content="{{ metaContext.description }}">
        <meta property="og:image" content="{{ metaContext.image.getUrl(1200, 675) }}">
        <meta name="msapplication-square150x150logo" content="{{ metaContext.image.getUrl(160, 160) }}">
        {% if(metaContext.isRadio) %}
            <meta name="apple-itunes-app"
                  content="app-id=560458506, app-argument={{ canonical }}?bbc_referrer={{ canonical|url_encode }}">
        {% endif %}

        {{ orb.head|raw }}
        {{ branding.head|raw }}

        <!--[if (gt IE 8)|!(IE)]><!-->
            <link rel="stylesheet" href="{{ asset('css/ds2013.css') }}" />
        <!--<![endif]-->
        <!--[if (lt IE 9)&(!IEMobile)]>
            <link rel="stylesheet" href="{{ asset('css/ds2013-ie.css') }}" />
        <![endif]-->
        {% block inline_head %}{% endblock %}

        <script>document.documentElement.className += ' has-js';</script>
        <script>
            requirejs.config({
                "paths": {
                    'jquery-1.9': "https://static.bbci.co.uk/frameworks/jquery/0.4.1/sharedmodules/jquery-1.9.1",
                    'rv-bootstrap': "{{ asset_js('js/rv-bootstrap.js') }}"
                },
                "map": {
                    "*": {
                        "jquery": "jquery-1.9"
                    }
                }
            });

            requirejs(['rv-bootstrap']);
        </script>
    </head>
    <body>
        {{ orb.bodyfirst|raw }}
        {{ branding.bodyFirst|raw }}

        <div class="{% block page_classes %}programmes-page text-base b-g-p{% endblock %}" id="programmes-content" role="main">
        {% block body %}{% endblock %}
        </div>

        {{ branding.bodyLast|raw }}
        {{ orb.bodylast|raw }}
        {# @TODO does this need to pull from a specific env? #}
        <script>require(['//static.bbci.co.uk/radio/player/script/popup.js'], function () {})</script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
