<{{ title.getOption('h_tag') }} class="media__meta-group">
    <a class="box-link__target link--block {{ title.getBrandingClass() }}"
       href="{{ title.getUrl() }}"
       data-linktrack="{{ title.getLinkLocationPrefix() }}groupblock">
            <span class="media__meta-row {{ title.getOption('title_size_large') }}">{{ title.getMainTitle() }}</span>
            {% if title.getSubTitle() %}
                <span class="invisible">&mdash;</span>
                <span class="media__meta-row {{ title.getOption('title_size_small') }}">{{ title.getSubTitle() }}</span>
            {% endif %}
    </a>
</{{ title.getOption('h_tag') }}>
