{%- if image.option('is_lazy_loaded') -%}
    <div class="image image--lazy" data-src="{{ image.src }}" data-srcset="{{ image.srcsets }}" data-sizes="{{ image.sizes }}" data-alt="{{ image.option('alt') }}" data-img-blank="{{ asset("images/blank.png") }}"></div>
{%- else -%}
    <img class="image" src="{{ image.src }}" srcset="{{ image.srcsets }}" sizes="{{ image.sizes }}" alt="{{ image.option('alt') }}">
{%- endif -%}
