{% extends "@Ds2013/Presenters/Domain/CoreEntity/Programme/SubPresenters/programme_overlay.html.twig" %}
{# Note the the presenter here is programme_overlay to match the parent, this is overriden in BroadcastProgrammeOverlayPresetner->getTemplateVariableName() #}
{% block overlay %}
    {% if programme_overlay.getOption('show_overlay') and programme_overlay.isWatchableLive() %}
        {% set branding_context = programme_overlay.getOption('branding_context') %}
        {% spaceless %}
        <div class="programme__overlay programme__overlay--live">
            <a href="{{ programme_overlay.getSimulcastUrl() }}" class="programme__availability{{ programme_overlay.programmeIsAudio() ? '' : ' iplayer-icon--container' }}" data-linktrack="programmeobjectlink=cta" tabindex="-1">
                <div class="programme__icon br-box-{{ branding_context }} {{ programme_overlay.programmeIsAudio() ? 'sounds-icon' : 'iplayer-icon iplayer-icon--boxed' }}">
                    {{ gelicon('audio-visual', programme_overlay.getMediaIconName(), 'gelicon--half-container') }}
                </div>
                <div class="programme__overlay-data br-box-{{ branding_context }} br-{{ branding_context }}-bg-onbg080">
                    <div class="programme__time-remaining micro">{{ programme_overlay.translatePlayLive() }}</div>
                    <div class="timebar">
                        <span class="timebar-barbox timebar-barbox--live"></span>
                        <span class="timebar-barbox timebar-barbox--live"></span>
                        <span class="timebar-barbox timebar-barbox--live"></span>
                    </div>
                </div>
            </a>
        </div>
        {% endspaceless %}
    {% else %}
        {# Just let the parent template do its thing if we're not watchable live #}
        {{ parent() }}
    {% endif %}
{% endblock %}
