{% extends with_chrome ? 'base_ds2013.html.twig' : 'base_ds2013_partial.html.twig' %}

{% block title %}{{ meta_context.titlePrefix() }} - {{ tr('schedules') }}, {{ block('date') }}{% endblock %}

{% block page_classes %}programmes-page text-base programmes-page--flush{% endblock %}

{% block body %}
    <div>
        {{ block('body_inner') }}
    </div>
{% endblock %}

{% block body_inner %}
    <div class="b-g-p no-margin-vertical islet--vertical br-box-highlight br-highlight-bg-onbg080" id="schedule-header">
        {%- block header_links -%}{%- endblock -%}
        <h1>
            <span class="visually-hidden">
                <span class="outlet">
                    {{ tr('schedule_title', {'%1': service.getName()}) }}
                </span>
            </span>
            <time class="date">
                {{ block('date') }}
            </time>
        </h1>
    </div>
    {{ block('date_nav') }}
    {{ block('schedule') }}
{% endblock %}
