{% extends 'schedules/by_base.html.twig' %}

{% block date %}{{ first_of_month|local_date_intl('MMMM y') }}{% endblock %}

{%- block date_nav -%}
    <nav class="schedule-nav-wrapper">
        <div id="schedule-monthnav" class="centi br-box-highlight g-f-l">
            {{ ds2013('dateList', first_of_month, service, {'format': 'month'}) }}
        </div>
    </nav>
{%- endblock -%}

{%- block header_links -%}
    <p class="pull--right islet--vertical no-margin-vertical delta">
        <a href="{{ path('schedules_by_year', {pid: service.getPid(), year: first_of_month|local_date('Y')}) }}">{{ tr('schedules_this_year') }}</a>
    </p>
{%- endblock -%}

{%- block schedule -%}
    <div class="b-g-p br-box-page island--vertical">
        {%- if (service.getStartDate() and first_of_month.endOfMonth().lte(service.getStartDate())) or (service.getEndDate() and first_of_month.startOfMonth().gt(service.getEndDate())) -%}
            {{ ds2013('noSchedule', service, first_of_month.startOfMonth(), first_of_month.endOfMonth()) }}
        {%- else -%}
            <p>{{ tr('schedules_calendar_note') }}</p>
            <div class="grid-wrapper">
                <div class="grid 1/2@bpw 1/3@bpw2 1/3@bpe">
                    {{ ds2013('calendar', first_of_month, service, {'hide_caption': true}) }}
                </div>
            </div>
        {%- endif -%}
    </div>
{%- endblock -%}
