{% extends 'base_ds2013.html.twig' %}
{% import _self as self %}

{% block title %}BBC - {{tr('schedules')}}{% endblock %}

{% block body %}
    <div class="sch-main br-box-page">
        {% for title, networks in groups %}
            <div class="sch-group">
                <div class="sch-group__title">
                    <h2 class="alpha">{{ title }}</h2>
                    <ol class="sch-decades delta br-box-secondary">
                        {%- for decade in decades -%}
                            <li class="br-secondary-text-onborder">{{ decade }}</li>
                        {%- endfor -%}
                    </ol>
                </div>

                {% for network in networks %}
                    {% if network.services|length == 1 %}
                        {# Network has only one service, so link directly to it, rather than showing a hierarchy #}
                        {{ self.row(network.services[0], "sch-network-name gamma")}}
                    {% else %}
                        <div class="sch-network-name gamma">{{ network.network.getName() }}</div>
                        {% for service in network.services %}
                            {{ self.row(service, "sch-service-name delta")}}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% macro row(service, nameClasses) %}
    <a class="sch-service-row deemphasize" href="{{ path('schedules_by_day', { pid : service.service.getPid() }) }}">
        <div class="{{ nameClasses }}">{{ service.service.getShortName() }}</div>
        <div class="sch-duration">
            <div class="sch-duration__bar" title="{{ service.service.getStartDate()|local_date('Y/m/d') }} till {{ service.service.getEndDate() ? service.service.getEndDate()|local_date('Y-m-d') : 'present' }}" style="width:{{ service.width }}%; margin-left: {{ service.offset }}%"></div>
        </div>
    </a>
{% endmacro %}
