 <{{ programme_title.getOption('h_tag') }} class="media__meta-group">
    <a class="box-link__target link--block {{ programme_title.getBrandingClass() }}"
       href="{{ programme_title.getUrl() }}"
       data-linktrack="{{ programme_title.getLinkLocationPrefix() }}epblock">
        <span class="media-title" data-linktrack="{{ programme_title.getLinkLocationPrefix() }}eptitle">
            <span class="media__meta-row {{ programme_title.getOption('title_size_large') }}">{{programme_title.getMainTitle()}}</span>
            {% if programme_title.getSubTitle() %}
                <span class="invisible">&mdash;</span>
                <span class="media__meta-row {{ programme_title.getOption('title_size_small') }}">{{programme_title.getSubTitle()}}</span>
            {% endif %}
        </span>
    </a>
</{{ programme_title.getOption('h_tag') }}>
