<div class="icon-link {{ programme_cta.getOption('cta_class') }}">
    <a class="link-complex" href="{{ programme_cta.getPlayerUrl() }}"
       data-linktrack="{{ programme_cta.getLinkLocationPrefix() }}calltoaction">
        <div class="icon icon-cta icon--{{ programme_cta.getMediaIconName() }}">
            {{ gelicon('audio-visual', programme_cta.getMediaIconName(), 'programme') }}
            <span class="invisible">{{ tr(programme_cta.getPlayTranslation()) }}</span>
            {% if programme_cta.getDuration() %}
                <span class="icon-label gel-brevier">
                    {{ ds_amen('duration', programme_cta.getDuration()) }}
                </span>
            {% endif %}
        </div>
    </a>
</div>
