{% if programme_overlay.getOption('show_image') or programme_overlay.getOption('show_overlay') %}
    {% set outer_div_classes = build_css_classes({
        'programme__img' : true,
        (programme_overlay.getOption('classes')): true,
        'programme__img--available' : programme_overlay.isAvailable(),
        'programme__img--hasimage' : true,
        'programme__img--standalone-cta' : programme_overlay.getOption('show_standalone_cta'),
    }) %}

    <div class="{{ outer_div_classes }}">
        {% if programme_overlay.getOption('show_image') %}
            <meta property="image" content="{{ programme_overlay.getImageUrl(480,270)}}" />
            {{ ds_shared('imageEntity', programme_overlay.getImage(), programme_overlay.getOption('default_width'), programme_overlay.getOption('sizes'), {
                'is_lazy_loaded' : programme_overlay.getOption('is_lazy_loaded'),
                'ratio': (16 / 9)
            })}}
        {% endif %}

        {% block overlay %}
            {# This block is overriden (and called directly) from CollapsedBroadcastProgrammeOverlayPresenter #}
            {% if programme_overlay.getOption('show_overlay') %}
                <div class="{{ build_css_classes(programme_overlay.getOverlayDivClasses()) }}">
                    {% if not programme_overlay.isContainer() and programme_overlay.isAvailable() %}
                        {% set programme_icon_classes = build_css_classes({
                            'programme__icon' : true,
                            ('br-box-' ~ programme_overlay.getOption('branding_context')): true,
                            'iplayer-icon iplayer-icon--boxed': programme_overlay.isEpisode() and not programme_overlay.programmeIsAudio() ,
                            'sounds-icon': programme_overlay.programmeIsAudio(),
                            'programme__icon--orphaned': programme_overlay.getOption('show_standalone_cta'),
                        }) %}
                        {% if programme_overlay.isEpisode() %}
                            <div>
                                <a href="{{ programme_overlay.getPlaybackUrl() }}"
                                   class="programme__availability programme__player{{ programme_overlay.programmeIsAudio() ? '' : ' iplayer-icon--container' }}"
                                   title="{{ programme_overlay.getAvailabilityInWords() }}"
                                   data-linktrack="{{ programme_overlay.getOption('cta_link_location_track') }}"
                                   tabindex="-1"
                                >
                                    <div class="{{ programme_icon_classes }}">
                                        {{ gelicon('audio-visual', programme_overlay.getMediaIconName(), 'gelicon--half-container') }}
                                    </div>
                                    <meta property="description" content="{{ programme_overlay.getProgramme().getShortSynopsis() }}" />
                                    <meta property="thumbnailUrl" content="{{ programme_overlay.getImageUrl(1920, 1080) }}" />
                                    {% if programme_overlay.getProgramme().getStreamableFrom() %}
                                        <meta property="uploadDate" content="{{ programme_overlay.getProgramme().getStreamableFrom().format(constant('DateTime::ATOM')) }}" />
                                    {% endif %}
                                    <meta property="name" content="{{ programme_overlay.getProgramme().getTitle() }}" />
                                </a>
                            </div>
                            {% if programme_overlay.getProgramme().getStreamableUntil() %}
                                <span>
                                    <meta property="endDate" datatype="xsd:dateTime" content="{{ programme_overlay.getProgramme().getStreamableUntil().format(constant('DateTime::ATOM')) }}" />
                                </span>
                            {% endif %}
                        {% else %}
                            {# If our available programme is NOT an episode, e.g. a clip #}
                            <div class="{{ programme_icon_classes }}">
                                {{ gelicon('audio-visual', programme_overlay.getMediaIconName(), 'gelicon--half-container') }}
                            </div>
                            <meta property="description" content="{{ programme_overlay.getProgramme().getShortSynopsis() }}" />
                            <meta property="thumbnailUrl" content="{{ programme_overlay.getImageUrl(1920, 1080) }}" />
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endif %}
