{%- if shared_image.getImage() -%}
    <div class="media__panel {{ shared_image.getOption('media_panel_class') }}">
        <div class="media__overlay-container ratiobox">
            {{ ds_shared(
                'image',
                shared_image.getImage(),
                shared_image.getOption('default_width'),
                shared_image.getOption('sizes'),
                { 'is_lazy_loaded' : shared_image.getOption('is_lazy_loaded') }
            ) }}
            {%- if shared_image.getOption('badge_text') -%}
                <div class="media__overlay media__overlay--top media__overlay--inline gel-minion-bold {{ shared_image.getOption('badge_class') }}">
                    {{- shared_image.getOption('badge_text') -}}
                </div>
            {%- endif -%}
            {%- if shared_image.getCtaPresenter() -%}
                <div class="media__overlay media__overlay--bottom" data-eq-pts="medium: 280, large: 400, super: 656">
                    {{ ds_amen_presenter(shared_image.getCtaPresenter()) }}
                </div>
            {%- endif -%}
        </div>
    </div>
{%- elseif shared_image.getOption('badge_text') -%}
    <div class="media__badge gel-minion-bold">
        <span class="media__overlay--inline {{ shared_image.getOption('badge_class') }}">
            {{ shared_image.getOption('badge_text') }}
        </span>
    </div>
{%- endif -%}
