 <{{ shared_title.getOption('h_tag') }} class="media__meta-group">
    <a class="box-link__target link--block {{ shared_title.getBrandingClass() }}"
       href="{{ shared_title.getUrl() }}"
       data-linktrack="{{ shared_title.getLinkLocationPrefix() }}epblock">
        <span class="media-title" data-linktrack="{{ shared_title.getLinkLocationPrefix() }}eptitle">
            <span class="media__meta-row {{ shared_title.getOption('title_size_large') }}">{{ shared_title.getMainTitle() }}</span>
            {% if shared_title.getSubTitle() %}
                <span class="invisible">&mdash;</span>
                <span class="media__meta-row {{ shared_title.getOption('title_size_small') }}">{{ shared_title.getSubTitle() }}</span>
            {% endif %}
        </span>
    </a>
</{{ shared_title.getOption('h_tag') }}>
