{% if shared_body.hasFullDetails() %}
    <div class="{{ shared_body.getOption('full_details_class') }}">
        {% if shared_body.getOption('show_synopsis') %}
            <p class="text-subtle media__meta-row {{ shared_body.getOption('synopsis_class') }}">{{ shared_body.getSynopsis() }}</p>
        {% endif %}
        {% if shared_body.hasReleaseDate() %}
            <div class="list-lined list-lined--spaced">
                <div class="list-lined__item br-keyline">
                    <h5 class="invisible">{{ tr('release_date', {'%1':''}) }}</h5>
                    <time datetime="{{ shared_body.getReleaseDate()|local_date('Y-m-d') }}">{{ shared_body.getReleaseDate()|local_date_intl('dd MMM Y') }}</time>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
