<ol class="nav nav--banner pagination delta">
    {%- if paginator.getCurrentPage() <= 1 -%}
        <li class="pagination__previous pagination--disabled">
            {{ gelicon('core', 'previous', 'pagination__next-previous gelicon--leading') }}
            <span>{{ tr('previous') }}</span>
        </li>
    {%- else -%}
        <li class="pagination__previous">
            <a href="?page={{ paginator.getCurrentPage() - 1 }}" rel="prev">
                {{ gelicon('core', 'previous', 'pagination__next-previous gelicon--leading') }}
                <span>{{ tr('previous') }}</span>
            </a>
        </li>
    {%- endif -%}

    {%- for item in paginator.getItems() -%}
        {%- if item == 'spacer' -%}
            <li class="pagination__spacer">
                <span>&#8230;</span>
            </li>
        {%- elseif item == 'spacer-hidden' -%}
            <li class="pagination__spacer--hidden">
                <span>&#8230;</span>
            </li>
        {%- else -%}
            {%- set classes = build_css_classes({
                'pagination__page': true,
                ('pagination__page--offset' ~ paginator.getOffset(item)): true,
                'pagination__page--nohide': (paginator.shouldApplyNoHideClass(item)),
                'pagination__page--first': (item == 1),
                'pagination__page--last': (item == paginator.getPageCount()),
                'pagination__page--current': (item == paginator.getCurrentPage())
            }) -%}
            {%- if item != paginator.getCurrentPage() -%}
                <li class="{{ classes }}">
                    <a aria-label="{{ tr('pagination_page', {'%1': item, '%2': paginator.getPageCount()}) }}" href="?page={{ item }}" class="br-page-link-onbg015 br-page-linkhover-onbg--hover br-page-bg-ontext--hover">{{ item }}</a>
                </li>
            {%- else -%}
                <li class="{{ classes }}">
                    <span class="br-box-highlight">{{ item }}</span>
                </li>
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if paginator.getCurrentPage() >= paginator.getPageCount() -%}
        <li class="pagination__next pagination--disabled">
            <span>{{ tr('next') }}</span>
            {{ gelicon('core', 'next', 'pagination__next-previous gelicon--trailing') }}
        </li>
    {%- else -%}
        <li class="pagination__next">
            <a href="?page={{ paginator.getCurrentPage() + 1 }}" rel="next">
                <span>{{ tr('next') }}</span>
                {{ gelicon('core', 'next', 'pagination__next-previous gelicon--trailing') }}
            </a>
        </li>
    {%- endif -%}
</ol>
