<div class="br-container br-box-subtle">
    <div class="p-g-p footer">
        <div class="grid grid--flush">
            <!-- (Recommendations) You may also like -->
            <div class="grid__item 5/12@gel3b 1/2@gel3">
                <div class="footer__recommendations br-keyline islet--horizontal">
                    {% if not footer.isWorldNews() %}
                    <div class="gel-brevier-bold grid__item">
                        {% include 'recommendations/dsamen_recommends_footer.html.twig' %}
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- Similar programmes -->
            <div class="grid__item 1/3@gel4 1/4@gel3b 1/2@gel3">
                {%- if footer.getGenres() or footer.getFormats() -%}
                    <div class="islet--horizontal footer__programmes footer__service-island">
                        <h2 class="gel-double-pica-bold">{{ tr('similar_programmes') }}</h2>
                        {%- if footer.getGenres() -%}
                            <div class="islet--vertical">
                                <h3 class="gel-brevier-bold text--shout">{{ tr('by_genre') }}:</h3>
                                <ul class="list-raw list-unstyled text--shout gel-brevier-bold">
                                    {%- for genreTree in footer.getGenres() -%}
                                        <li>
                                            {%- for genre in genreTree.getAncestry()|reverse -%}
                                                {%- if not loop.first -%}&#32;&#62;&#32;{%- endif -%}
                                                <a href="{{ path('categories_show', {
                                                    'categoryType': 'genres',
                                                    'urlKeyHierarchy': genre.getUrlKeyHierarchy()
                                                }) }}">{{ genre.getTitle() }}</a>
                                            {%- endfor -%}
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        {%- endif -%}
                        {%- if footer.getFormats() -%}
                            <div class="islet--vertical">
                                <h3 class="gel-brevier-bold text--shout">{{ tr('by_format') }}:</h3>
                                <ul class="list-raw list-unstyled text--shout gel-brevier-bold">
                                    {%- for format in footer.getFormats() -%}
                                        <li>
                                            <a href="{{ path( 'categories_show', {
                                                'categoryType': 'formats',
                                                'urlKeyHierarchy': format.getUrlKey()
                                            }) }}">{{ format.getTitle() }}</a>
                                        </li>
                                    {%- endfor -%}
                                </ul>
                            </div>
                        {%- endif -%}
                    </div>
                {%- endif -%}
            </div>
            <!-- Watch live -->
            {%- if footer.hasNetwork() -%}
                <div class="grid__item 1/8@gel4 1/6@gel3b 1/2 footer__service">
                    {%- if footer.getNetworkUrlKey() -%}
                        <div class="br-service-brand-box">
                            <div class="text--center">
                                <a href="{{ path('network', { 'networkUrlKey': footer.getNetworkUrlKey() }) }}">
                                    <img alt="{{ tr('programme_homepage', { '%1': footer.getNetworkName() }) }}" src="{{ get_network_logo(footer.getNid(), '112x63') }}">
                                </a>
                            </div>
                            <div class="hidden unhidden@gel3b island island--squashed">
                                <div class="gel-brevier-bold lazy-module" data-lazyload-inc="{{
                                path('schedules_on_now', {
                                    'networkUrlKey': footer.getNetworkUrlKey(),
                                    'partial': 'legacy_amen'
                                }) }}" data-lazyload-threshold="768" data-lazyload-delay="true">
                                </div>
                            </div>
                        </div>
                    {%- endif -%}
                </div>
                <!-- Map links-->
                <div class="grid__item 1/8@gel4 1/6@gel3b 1/2 footer__service-nav ">
                    {%-  set networkUrlKey = footer.getNetworkUrlKey() -%}
                    {%-  if networkUrlKey or footer.getNavigationLinks() -%}
                        <div class="island br-service-brand-box--alt">
                            <ul class="list-raw gel-long-primer-bold">
                                {%-  if networkUrlKey -%}
                                    <li class="footer-nav__item">
                                        <a href="{{ path('network', { 'networkUrlKey': networkUrlKey }) }}"
                                           title="{{ tr('programme_homepage', { '%1': footer.getNetworkName() }) }}"
                                           data-linktrack="global_footer_servicenav">
                                            {{ tr('home') }}
                                        </a>
                                    </li>
                                {%- endif -%}
                                {%- for links in footer.getNavigationLinks() -%}
                                    <li class="footer-nav__item">
                                        <a href="{{ links['url'] }}" data-linktrack="global_footer_servicenav">{{ links['title'] }}</a>
                                    </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    {%- endif -%}
                </div>
            {%- endif -%}
        </div>
    </div>
</div>
