{% extends 'base_ds_amen_partial.html.twig' %}

{%- block body -%}
    <div class="islet--vertical">
        <h2 class="gel-long-primer-bold text--shout">
            {% if simulcastUrl %}
                <a href="{{ simulcastUrl }}">{{ tr(isRadio ? "iplayer_listen_live" : "iplayer_watch_live") }}</a>
            {% else %}
                <span>{{ tr(isRadio ? "on_air" : "on_now") }}</span>
            {% endif %}
        </h2>
        <h3 class="gel-long-primer-bold text--shout">{{ broadcast.getStartAt()|local_date('H:i') }} {{ broadcast.getStartAt()|time_zone_note()}}</h3>
    </div>
    <div class="media box-link gel-long-primer media--column media--card">
        <div class="media__body">
            <div class="islet--vertical" data-eq-pts="actions-nowrap: 240">
                <h4 class="media__meta-group">
                    <a class="box-link__target link--block" href="{{ path('find_by_pid', {'pid': broadcast.getProgrammeItem().getPid()}) }}">
                        <span class="media-title">
                            <span class="media__meta-row gel-pica-bold">{{ broadcast.getProgrammeItem().getTleo().getTitle() }}</span>
                        </span>
                    </a>
                </h4>
            </div>
        </div>
        <div class="media__panel 1/1">
            <div class="media__overlay-container ratiobox">
                <img data-molecule="responsive-image"
                     class="media__image"
                     src="{{ broadcast.getProgrammeItem().getImage().getUrl(320, 180) }}"
                     alt="" />
            </div>
        </div>
    </div>
{%- endblock -%}
