{% extends 'base_ds2013.html.twig' %}

{% import _self as self %}

{% block page_classes %}programmes-page text-base programmes-page--flush{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }}{% endblock %}
{% block adsToDisplay %}leaderboard mpu{% endblock %}

{% block inline_head %}
    {{ parent() }}

    {% if favouritesButton %}
        {{ favouritesButton.getHead()|raw }}
    {% endif %}
{% endblock %}

{% block twitter_tags %}
    {% if programme.isExternallyEmbeddable() %}
        {#
           twitter:title and twitter:description tags are not needed as Twitter falls back to look
           at the og:title and og:description tags, which are already defined in base_ds2013.html.twig
        #}
        <meta property="twitter:card" content="player"/>
        <meta property="twitter:image" content="{{ programme.getImage().getUrl(640, 360) }}"/>
        <meta property="twitter:image:width" content="640"/>
        <meta property="twitter:image:height" content="360"/>
        <meta property="twitter:player" content="{{ url('programme_player', {'pid' : programme.getPid()}) }}?chromeless"/>
        <meta property="twitter:player:width" content="576"/>
        <meta property="twitter:player:height" content="324"/>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block body %}
    {{ advert('leaderboard', [1,2,3,4], 'programme-advert--leaderboard-wrap') }}

    <div class="b-g-p">
        <div class="map__column br-box-secondary">
            {{ ds2013('clipPlayout', programme, streamableVersion, segmentEvents, analytics_counter_name, istats_analytics_labels) }}
            {{ ds2013('clipDetails', programme, contributions, downloadableVersion, podcast) }}
        </div>
    </div>
    <div class="prog-layout programmes-page">
        <div class="br-box-page prog-box">
            {% if relatedTopics %}
                <div id="related_topics" class="component component--box--primary">
                    <div class="component__header br-box-page">
                        <h2>{{ tr('related_topics') }}</h2>
                    </div>
                    <div class="component__body br-box-page">
                        {{ ds2013('relatedTopics', relatedTopics, programme) }}
                    </div>
                </div>
            {% endif %}
            {% if relatedLinks %}
            <div id="related_links" class="component component--box--primary">
                <div class="component__header br-box-page">
                    <h2>{{ tr('related_links') }}</h2>
                </div>
                <div class="component__body br-box-page">
                    {% include 'find_by_pid/partial/related_links_module.html.twig' with {
                        'programme': programme,
                        'relatedLinks': relatedLinks,
                    } only %}
                </div>
            </div>
            {% endif %}

            {% if segmentEvents %}
                {{ ds2013('segmentsList', programme, segmentEvents) }}
            {% endif %}

            {% if featuredIn %}
                <div class="component component--box component--box-flushbody component--box--primary" id="collections">
                    <div class="component__header br-box-page">
                        <h2>{{ tr('featured_in') }}</h2>
                    </div>
                    <div class="component__body br-box-page">
                        <ul class="list-unstyled">
                            {% for collection in featuredIn %}
                                <li>
                                    {{- ds2013('group', collection, {
                                        'highlight_box_classes': 'highlight-box--list'
                                    }) -}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if relatedProgrammes %}
                <div id="related_programmes" class="component component--box--primary">
                    <div class="component__header br-box-page">
                        <h2>{{ tr('related_programmes') }}</h2>
                    </div>
                    <div class="component__body br-box-page">
                        <ul class="grid-wrapper highlight-box-wrapper--list bpw-highlight-box-wrapper--grid">
                            {% for programme in relatedProgrammes %}
                                <li class="grid 1/3@bpw">
                                    {{ ds2013('programme', programme.getProgramme(), {
                                        'title_options': {'title_format': 'item::ancestry', 'link_location_track': 'clip_suggested_item_' ~ loop.index },
                                        'body_options': {
                                            'body_suffix': '<p class="programme__child-availability">' ~ tr( programme.getProgramme().getType() ~ '_is_related_to', {'%1': '<a class="block-link__link" href="' ~ path('topics_topic', {topic: programme.getRelatedByClasses()[0].getId()}) ~'" data-linktrack="clip_suggested_relationship">' ~ programme.getRelatedByClasses()[0].getTitle() ~ '</a></p>'}),
                                            'show_synopsis': false,
                                            'show_duration': false,
                                        },
                                        'image_options': {
                                            'classes': '1/4@bpb1 1/1@bpb2 1/1@bpw',
                                        },
                                        'container_classes': 'highlight-box--list programme--grid@bpw highlight-box--grid@bpw br-keyline br-blocklink-page br-page-linkhover-onbg015--hover',
                                    }) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if parentClips %}
                {{ self.more_clips('parentClips', programme.getParent(), parentClips) }}
            {% endif %}
            {% if tleoClips %}
                {{ self.more_clips('tleoClips', programme.getTleo(), tleoClips) }}
            {% endif %}
            {{ advert('mpu', [1, 2, 3, 4]) }}
        </div>
    </div>
{% endblock %}

{% macro more_clips(id, programme, clips) %}
    <div class="component component--box--primary" id="{{ id }}">
        <div class="component__header">
            <h2>{{ tr('more_clips_from', {'%1': programme.getTitle()}) }}</h2>
        </div>
        <div class="component__body br-box-page">
            <ul class="grid-wrapper highlight-box-wrapper highlight-box-wrapper--grid@bpb1 highlight-box-wrapper--grid@bpw">
                {% for clip in clips %}
                    <li class="grid 1/2@bpb1 1/2@bpw 1/4@bpe">
                        {# @TODO is this the correct link_location? #}
                        {{ ds2013('programme', clip, {
                            'context_programme': programme,
                            'highlight_box_classes':'highlight-box--list highlight-box--grid@bpb1 programme--grid@bpb1 highlight-box--grid@bpw programme--grid@bpw',
                            'image_options': {
                                'classes': '1/1@bpb1 1/1@bpw',
                                'default_width': 240,
                                'sizes': { 0: 1/2, 768: 1/4, 1008: '240px'},
                            },
                            'title_options': {
                                'link_location_track': 'component_clips_carousel',
                                'title_format': 'item::ancestry'
                            },
                            'body_options': {
                                'show_synopsis': false,
                                'wordy_duration': false,
                            },
                            'branding_context': 'page'
                        }) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% if clips|length > 1 %}
            <div class="component__footer br-box-subtle">
                <a class="component__footer__link"
                   href="{{ path('programme_clips', { pid: programme.getPid() }) }}"
                   data-linktrack="component_clips_summary_footer">
                    {# @TODO is this the correct link_location? #}
                    <span class="component__footer__title">{{ tr('see_all_clips_from', {'%1': programme.getTitle()}) }}</span>
                    <span class="component__footer__detail">({{ programme.getAvailableClipsCount }})</span>
                </a>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    {% include 'shared/favourites_js.html.twig' with {'favouritesButton': favouritesButton} %}
{% endblock %}
