{% extends 'base_ds2013.html.twig' %}

{% block page_classes %}programmes-page text-base programmes-page--flush{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }}{% endblock %}
{% block adsToDisplay %}leaderboard mpu{% endblock %}

{% block body %}
    <div class="b-g-p">
        <div class="map__column br-box-secondary">
            <h1>Clip Map</h1>
        </div>
    </div>
    <div class="prog-layout programmes-page">
        <div class="br-box-page prog-box">
            {% if relatedTopics %}
                <div class="component component--box--primary">
                    <div class="component__header br-box-page">
                        <h2>{{ tr('related_topics') }}</h2>
                    </div>
                    <div class="component__body br-box-page">
                        {{ ds2013('relatedTopics', relatedTopics, 'clip_topic', programme.getTleo().getPid()) }}
                    </div>
                </div>
            {% endif %}
            {% if relatedLinks %}
            <div class="component component--box--primary">
                <div class="component__header br-box-page">
                    <h2>{{ tr('related_links') }}</h2>
                </div>
                <div class="component__body br-box-page">
                    {% include 'find_by_pid/partial/related_links_module.html.twig' with {
                        'programme': programme,
                        'relatedLinks': relatedLinks,
                    } only %}
                </div>
            </div>
            {% endif %}
            {% if featuredIn %}
                <div class="component component--box component--box-flushbody component--box--primary" id="collections">
                    <div class="component__header br-box-page">
                        <h2>{{ tr('featured_in') }}</h2>
                    </div>
                    <div class="component__body br-box-page">
                        <ul class="list-unstyled">
                            {% for collection in featuredIn %}
                                <li>
                                    {{- ds2013('group', collection, {
                                        'highlight_box_classes': 'highlight-box--list',
                                        'show_image': false
                                    }) -}}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
