{% extends 'base_ds2013.html.twig' %}

{% block page_classes %}programmes-page text-base programmes-page--flush{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }}{% endblock %}
{% block adsToDisplay %}leaderboard mpu{% endblock %}

{% block inline_head %}
    {{ parent() }}

    {% if favouritesButton %}
        {{ favouritesButton.getHead()|raw }}
    {% endif %}
{% endblock %}

{% block body %}

    {# TODO Leaderboard advert #}

    {{ ds2013_presenter(episodeMapPresenter) }}

    <div class="prog-layout programmes-page">
        <div class="grid-wrapper grid-wrapper--center">
            {# TODO Related Topics Module #}

            <div class="grid grid--bounded 13/24@bpw2 13/24@bpe">
                <div class="br-box-page prog-box">
                    {# TODO Live Text Stream #}

                    {% if promotions.regular %}
                        <div class="component component--box component--box-flushbody component--box--primary">
                            <div class="component__body">
                                <ul class="list-unstyled">
                                    {% for promo in promotions.regular %}
                                        <li>{{ ds2013('promotion', promo, {
                                            'highlight_box_classes': 'promotion--inset@bpw highlight-box--list',
                                            'img_classes': '1/4 1/4@bpb1 1/3@bpb2 1/2@bpw',
                                            'img_default_width': 272,
                                            'img_sizes': {0: 0, 320: 1/4, 480: 1/3, 600: 1/3, 770: 1/4, 1008: '272px'},
                                        }) }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {# TODO MPU at sizes 1 and 2 #}

                    {# TODO Recipes module #}

                    {% if clips %}
                        <div
                            class="component component--box component--box-flushbody-vertical component--box--primary"
                            id="clips">
                            <div class="component__header">
                                <h2>{{ tr('clips', programme.getAvailableClipsCount()) }}</h2>
                            </div>
                            <div class="component__body">
                                <ul class="grid-wrapper highlight-box-wrapper highlight-box-wrapper--grid@bpb1 highlight-box-wrapper--grid@bpw">
                                    {% for clip in clips %}
                                        <li class="grid{{ clips|length > 1 ? ' 1/2@bpb1 1/2@bpw' }}">
                                            {{ ds2013('programme', clip, {
                                                'context_programme': programme,
                                                'highlight_box_classes':'highlight-box--list highlight-box--grid@bpb1 programme--grid@bpb1 highlight-box--grid@bpw programme--grid@bpw',
                                                'image_options': {
                                                    'classes': '1/1@bpb1 1/1@bpw',
                                                    'default_width': 240,
                                                    'sizes': { 0: 1/2, 768: 1/4, 1008: '240px'},
                                                },
                                                'body_options': {
                                                    'show_synopsis': false,
                                                    'wordy_duration': false,
                                                },
                                                'branding_context': 'page'
                                            }) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if programme.getAvailableClipsCount() > 1 %}
                                <div class="component__footer br-box-subtle">
                                    <a class="component__footer__link" href="{{ path('programme_clips', { pid: programme.getPid() }) }}">
                                        <span class="component__footer__title">{{ tr('see_all_clips_from', {'%1': programme.getTitle()}) }}</span>
                                        <span class="component__footer__detail">({{ programme.getAvailableClipsCount() }})</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if segmentsListPresenter %}
                        {{ ds2013_presenter(segmentsListPresenter) }}
                    {% endif %}

                    {# TODO Features module #}

                    {% if contributions %}
                        <div class="component component--box component--box-flushbody-vertical component--box--primary"
                             id="credits">
                            <div class="component__header br-box-page">
                                <h2>{{ tr('credits', programme.getContributionsCount()) }}</h2>
                            </div>
                            <div class="component__body br-box-page">
                                <div>
                                    {{ ds2013('credits', contributions) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if allBroadcasts %}
                        <div class="component component--box component--box--primary" id="broadcasts">
                            <div class="component__header br-box-page">
                                <h2>{{ tr('broadcasts', allBroadcasts|length) }}</h2>
                            </div>
                            <div class="component__body br-box-page">
                                <div class="ml">
                                    {% if allBroadcasts|length > 3 %}
                                        <input class="ml__status" id="ml-list-broadcasts" type="checkbox" checked />
                                    {% endif %}
                                    <div class="ml__content">
                                        <ul class="grid-wrapper highlight-box-wrapper--grid">
                                            {% for key, broadcast in allBroadcasts %}
                                                <li class="grid 1/2 1/3@bpb1 1/3@bpb2 1/4@bpw 1/3@bpw2 1/3@bpe{% if key >= 3 %} ml__hidden{% endif %}">
                                                    {{- ds2013('broadcastEvent', broadcast, {
                                                        'show_on_air_message': false,
                                                        'container_classes': 'programme--grid highlight-box--grid'
                                                    }) -}}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% if allBroadcasts|length > 3 %}
                                        <label class="ml__button island text--center br-box-highlight" for="ml-list-broadcasts">
                                            <span class="br-pseudolink">
                                                <span class="ml__label--more">{{ tr('show_more') }}</span>
                                                <span class="ml__label--sep"> / </span>
                                                <span class="ml__label--less">{{ tr('show_less') }}</span>
                                            </span>
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# TODO Collections module #}
                </div>
            </div>

            <div class="grid grid--bounded 11/24@bpw2 11/24@bpe">
                {# TODO MPU at sizes 3 and 4 #}

                {# TODO Related Programmes (ADA) #}

                {% for promo in promotions.super %}
                    {{ ds2013('superpromo', promo, {
                        'img_default_width': 320,
                        'img_sizes': {0: 1/1, 768: 1/2, 1008: '438px'},
                    }) }}
                {% endfor %}

                {# TODO Podcasts module #}

                {% if galleries %}
                    <div class="component component--box component--box--striped component--box--secondary" id="galleries">
                        <div class="component__header br-box-highlight">
                            <h2>{{ tr('galleries', programme.getAggregatedGalleriesCount()) }}</h2>
                        </div>
                        <div class="component__body br-box-subtle">
                            <ul class="grid-wrapper highlight-box-wrapper highlight-box-wrapper--grid@bpb1 highlight-box-wrapper--grid@bpw">
                                {% for gallery in galleries %}
                                    <li class="grid{{ galleries|length > 1 ? ' 1/2@bpb1 1/2@bpw' }}">
                                        {{ ds2013('group', gallery, {
                                            'context_programme': programme,
                                            'highlight_box_classes':'highlight-box--list highlight-box--grid@bpb1 programme--grid@bpb1 highlight-box--grid@bpw programme--grid@bpw',
                                            'img_classes': '1/1@bpb1 1/1@bpw',
                                            'img_default_width': 240,
                                            'img_sizes': { 0: 1/2, 768: 1/4, 1008: '240px'},
                                            'show_synopsis': false,
                                            'branding_context': 'page'
                                        }) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if programme.getAggregatedGalleriesCount() > 1 %}
                            <div class="component__footer br-box-subtle">
                                <a class="component__footer__link" href="{{ path('programme_galleries', { pid: programme.getPid() }) }}">
                                    <span class="component__footer__title">{{ tr('see_all_galleries_from', {'%1': programme.getTitle()}) }}</span>
                                    <span class="component__footer__detail">({{ programme.getAggregatedGalleriesCount() }})</span>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {# TODO Vote module #}

                {% if relatedLinks %}
                    {% include 'find_by_pid/partial/related_links_module.html.twig' with {
                        'programme': programme,
                        'relatedLinks': relatedLinks,
                    } only %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if favouritesButton %}
        {{ favouritesButton.getBodyLast()|raw }}
        <script>{{ favouritesButton.getScript()|raw }}</script>
        <script>
            require(['plugins/musicfavourite'], function(fav) {
                var elem = document.getElementsByClassName("favourites-button")[0]; // DOM element within which to render the button
                fav.render(elem, {
                    'appid': 'radio',
                    'type': 'programme',
                    'id': '{{ programme.getPid() }}',
                    'title': '{{ programme.getTitle() }}',
                    'variant': 'small',
                    'lang': '{{ tr('language_code')|lower }}',
                    'platform': 'responsiveweb',
                    'context-type': 'network_pid',
                    'context-id': '{{ programme.getPid() }}'
                });
            });
        </script>
    {% endif %}
{% endblock %}
