{% extends 'base_ds_amen.html.twig' %}
{% import _self as this %}

{% block html_classes %}b-pw-1280{% endblock %}
{% block page_classes %}gel-long-primer amen{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }}{% endblock %}
{% block adsToDisplay %}leaderboard mpu{% endblock %}

{% block body %}
    {# TODO Leaderboard Advert #}
    <div class="p-g-p">
        {{ advert('leaderboard', [1,2,3,4]) }}
    </div>

    {# TODO BBC Live Promo #}

    {% if isVotePriority %}
        <div class="p-g-p">
            <div class="grid leading-gap">
                <div class="grid__item">
                    <iframe src="https://standardvote.votenow.tv/?wid=d180f07327c3d2e1" height="945px"></iframe>
                </div>
            </div>
        </div>
    {% endif %}

    {% if mapPresenter.showMap() %}
        {{ ds_amen_presenter(mapPresenter) }}
    {% endif %}

    <div class="p-g-p">
        <div class="leading-gap cf">
            {#{%- if programme.getOption('prioritytext_block') or isbbcdotcom or hasrecipes -%} TODO #}
            {%- if programme.getOption('prioritytext_block') -%}
                <ul class="grid">
                    {%- if programme.getOption('prioritytext_block') -%}
                        <li class="grid__item 1/1">
                            <div class="br-box-secondary island">
                                {%- if programme.getOption('prioritytext_block').content.title -%}
                                    <h2 class="map__heading gel-great-primer-bold">{{ programme.getOption('prioritytext_block').content.title }}</h2>
                                {%- endif -%}
                                <p>{{ programme.getOption('prioritytext_block').content.text }}</p>
                            </div>
                        </li>
                    {%- endif -%}

                    {# TODO MPU Advert #}
                </ul>
            {%- endif -%}

            {%- if promotions or clips or galleries -%}
                <ul class="grid">
                    {%- if programme.getOption('recipes_enabled') -%}
                        <li class="grid__item 1/2@gel3 1/3@gel3b 1/4@gel5 gel-brevier-bold lazy-module box-link"
                             data-lazyload-inc="{{ path('partial_programme_recipes', {'pid': programme.getPid()}) }}"
                             data-lazyload-threshold="320"
                             data-lazyload-delay="true">
                            <div class="br-box-secondary">
                                    <div class="island">
                                        <h4 class="gel-pica-bold media__meta-group">
                                            <a class="br-secondary-text-ontext box-link__target" href="{{ path('programme_recipes', {'pid': programme.getPid()}) }}">
                                                {{ tr('recipes') }}
                                            </a>
                                        </h4>
                                        <p class="gel-long-primer">{{ tr('see_all_recipes_from', {'%1': programme.getTitle()}) }}</p>
                                        <br/>
                                        {{ gelicon('food', 'western-food', 'gelicon--placeholder br-pseudolink') }}
                                    </div>
                            </div>
                        </li>
                    {%- endif -%}
                    {%- for promotion in promotions -%}
                        {# @TODO should this be moved out into a page presenter or something. It's fugly #}
                        {%- if loop.first and programme.getOption('double_width_first_promo') -%}
                            {%- set promo_widths = '2/3@gel3b 1/2@gel5' -%}
                            {%- set img_sizes = { 600 : 1/1, 768 : 2/3, 1008 : '645px', 1280 : '600px'} -%}
                            {%- set img_default_width = 640 -%}
                        {%- else -%}
                            {%- set promo_widths = '1/2@gel3 1/3@gel3b 1/4@gel5' -%}
                            {%- set img_sizes = { 600 : 1/2, 768 : 1/3, 1008 : '315px', 1280 : '300px'} -%}
                            {%- set img_default_width = 320 -%}
                        {%- endif -%}
                        <li class="grid__item {{ promo_widths }}">
                            {{- ds_amen('promotion', promotion, {
                                'related_links_count': 2,
                                'img_sizes': img_sizes,
                                'img_default_width': img_default_width,
                                'img_is_lazy_loaded': false,
                                'media_variant': 'media--column media--card',
                                'cta_class': 'cta br-box-secondary',
                                'branding_name': 'secondary',
                                'link_location_prefix': 'promo_' ~ loop.index ~ '_',
                                'show_synopsis': programme.isRadio(),
                            }) -}}
                        </li>
                    {%- endfor -%}

                    {%- for clip in clips -%}
                        <li class="grid__item 1/2@gel3 1/3@gel3b 1/4@gel5 {{ loop.last ? 'grid__item--column' : ''}}">
                            {{ ds_amen('programme', clip, {
                                'context_programme': programme.isRadio() ? clip : programme,
                                'branding_name': 'secondary',
                                'title_options': {
                                    'text_colour_on_title_link': true,
                                    'title_size_small': 'gel-long-primer',
                                },
                                'image_options': {
                                    'sizes': {
                                        600 : 1/2,
                                        768 : 1/3,
                                        1008 : '315px',
                                        1280 : '300px',
                                    },
                                },
                                'cta_options': {
                                    'cta_class': 'cta br-box-secondary',
                                },
                                'link_location_prefix': 'clip_' ~ loop.index ~ '_',
                                'body_options': {
                                    'show_synopsis': programme.isRadio(),
                                },
                            })}}

                            {%- if loop.last and programme.getAvailableClipsCount() > 4 -%}
                                {{ this.trailing_link('programme_clips', 'see_all_clips', programme, 'clip_see_all') }}
                            {%- endif -%}
                        </li>
                    {%- endfor -%}


                    {%- for gallery in galleries -%}
                        <li class="grid__item 1/2@gel3 1/3@gel3b 1/4@gel5 {{ loop.last ? 'grid__item--column' : ''}}">
                            {{- ds_amen('group', gallery, {
                                'context_programme': programme,
                                'branding_name': 'secondary',
                                'link_location_prefix': 'group_' ~ loop.index ~ '_',
                                'title_options': {
                                    'text_colour_on_title_link': true,
                                    'title_size_small': 'gel-long-primer'
                                },
                                'image_options': {
                                    'sizes': {
                                        600 : 1/2,
                                        768 : 1/3,
                                        1008 : '315px',
                                        1280 : '300px',
                                    },
                                },
                                'cta_options': {
                                    'cta_class': 'cta br-box-secondary'
                                },
                                'link_location_prefix': 'gallery_' ~ loop.index ~ '_'
                            }) -}}

                            {%- if loop.last and programme.getAggregatedGalleriesCount() > 4 -%}
                                {{- this.trailing_link('programme_galleries', 'see_all_galleries', programme, 'gallery_see_all') -}}
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                {%- endif -%}
            </ul>
            {%- if supportingContentItems -%}
                <ul class="grid">
                    {%- for supportingContentItem in supportingContentItems -%}
                        <li class="1/2@gel4 grid__item">
                            {{- ds_amen('supportingContent', supportingContentItem) -}}
                        </li>
                    {%- endfor -%}
                </ul>
            {%- endif -%}

            {# TODO Regular Vote block #}
        </div>
    </div>

    {% if relatedLinks %}
        <div class="p-g-p">
            <div class="br-box-secondary">
                <h2 class="gel-double-pica-bold island">{{ tr('related_links') }}</h2>
                <div class="related-links br-keyline media__meta-row--separator">
                    {%- for link in relatedLinks -%}
                        {{ ds_amen('relatedLink', link)|trim|raw }}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    {% endif %}

    {{ ds_amen('footer', programme, recommendations) }}
{% endblock %}

{% macro trailing_link(route, translation, programme, link_location_prefix) %}
    <div class="trailing-link br-box-secondary">
        <div class="media__footer br-keyline">
            <a href="{{ path(route, { pid: programme.getPid() }) }}" class="icon-link link-complex 1/1 gel-pica-bold" data-linktrack="{{ link_location_prefix }}">
                {{ gelicon('media', 'collection', 'gelicon--programme br-secondary-text-ontext') }}
                <span class="link-complex__target icon-label--trailing-link">{{ tr(translation) }}</span>
            </a>
        </div>
    </div>
{% endmacro %}

{% block javascripts %}
    {{ parent() }}
    {% if programme.getNetwork() and programme.getNetwork().isInternational() %}
        <script>
            require(['timezone-notification'], function(timezoneNotification){
                var localisedDaysAndMonths = {{ localised_date_helper.localisedDaysAndMonths()|raw }};
                var options = {
                    translations : {
                        localTime: "{{ tr('local_time') }}",
                        localDaysOfWeek: localisedDaysAndMonths['days'],
                        localMonths: localisedDaysAndMonths['months']
                    }
                };
                new timezoneNotification(options);
            });
        </script>
    {% endif %}
{% endblock %}
