{% extends 'base_ds_amen.html.twig' %}
{% import _self as this %}

{% block html_classes %}b-pw-1280{% endblock %}
{% block page_classes %}gel-long-primer amen{% endblock %}
{% block title %}{{ meta_context.titlePrefix() }}{% endblock %}
{% block adsToDisplay %}leaderboard mpu{% endblock %}

{% block inline_head %}
    {{ parent() }}
    {% if programme.getNetwork() and programme.getNetwork().isInternational() %}
        {% do preload(asset('js/timezone-notification.js'), { as: 'script', nopush: true }) %}
    {% endif %}

    {% if favouritesButton %}
        {{ favouritesButton.getHead()|raw }}
    {% endif %}

    {%- if lxPromo -%}
        {%- for script in lxPromo.getHead() -%}
            {{ script|raw }}
        {%- endfor -%}
    {%- endif -%}
{% endblock %}

{% block body %}
    <div class="p-g-p">
        {{ advert('leaderboard', [1,2,3,4]) }}
    </div>

    {%- if lxPromo -%}
        <div class="p-g-p">
            <div class="grid grid--flush leading-gap">
                <div class="grid__item 1/1 br-box-secondary">
                    <div id="bbc-morph-lx-promo">
                        {{ lxPromo.getBody()|raw }}
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}

    {% if isVotePriority %}
        <div class="p-g-p">
            <div class="grid leading-gap">
                <div class="grid__item">
                    <div class="vote__noscript-container">
                        <noscript class="gel-body-content">
                            This vote does not support non-JavaScript. Please enable JavaScript in your browser and refresh the page in order to vote.
                            <a href="https://www.bbc.co.uk/iplayer/help/enable_javascript">Find out how.</a>
                        </noscript>
                    </div>
                    <div id="account-wrapper-vote"></div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if mapPresenter.showMap() %}
        {{ ds_amen_presenter(mapPresenter) }}
    {% else %}
        <div class="p-g-p leading-gap"><div class="br-box-secondary island">{{ programme.getLongestSynopsis() }}</div></div>
    {% endif %}

    <div class="p-g-p">
        <div class="leading-gap cf grid mpu-grid">
            {% if hasAdverts %}
                <div class="grid__item mpu-grid__right">
                    <div>
                        {{ advert('mpu', [1,2,3,4]) }}
                    </div>
                </div>
            {% endif %}
            <div class="grid__item mpu-grid__left">
                <div>
                    <h2 class="invisible">{{ tr('supporting_content') }}</h2>
                    {#{%- if programme.getOption('prioritytext_block') or isbbcdotcom or hasrecipes -%} TODO #}
                    {%- if programme.getOption('prioritytext_block') -%}
                        <ul class="grid">
                            {%- if programme.getOption('prioritytext_block') -%}
                                <li class="grid__item 1/1">
                                    <div class="br-box-secondary island">
                                        {%- if programme.getOption('prioritytext_block').content.title -%}
                                            <h2 class="map__heading gel-great-primer-bold">{{ programme.getOption('prioritytext_block').content.title }}</h2>
                                        {%- endif -%}
                                        <p>{{ programme.getOption('prioritytext_block').content.text }}</p>
                                    </div>
                                </li>
                            {%- endif -%}
                        </ul>
                    {%- endif -%}

                    {%- if promotions or clips or galleries or programme.getOption('recipes_enabled') -%}
                        <ul class="grid">
                            {%- if programme.getOption('recipes_enabled') -%}
                                <li class="grid__item tlec-page-card gel-brevier-bold lazy-module box-link"
                                     data-lazyload-inc="{{ path('programme_recipes_amen', {'pid': programme.getPid()}) }}"
                                     data-lazyload-threshold="320"
                                     data-lazyload-delay="true"
                                     data-object-type="recipe">
                                    <div class="br-box-secondary">
                                            <div class="island">
                                                <h3 class="gel-pica-bold media__meta-group">
                                                    <a class="br-secondary-text-ontext box-link__target" href="{{ path('programme_recipes', {'pid': programme.getPid()}) }}">
                                                        {{ tr('recipes') }}
                                                    </a>
                                                </h3>
                                                <p class="gel-long-primer">{{ tr('see_all_recipes_from', {'%1': programme.getTitle()}) }}</p>
                                                <br/>
                                                {{ gelicon('food', 'western-food', 'gelicon--placeholder br-pseudolink') }}
                                            </div>
                                    </div>
                                </li>
                            {%- endif -%}
                            {%- for promotion in promotions -%}
                                {# @TODO should this be moved out into a page presenter or something. It's fugly #}
                                {%- if loop.first and programme.getOption('double_width_first_promo') -%}
                                    {%- set promo_class = 'tlec-page-card--doublewidth' -%}
                                    {%- set img_sizes = { 600 : 1/1, 768 : 2/3, 1008 : '645px', 1280 : '600px'} -%}
                                    {%- set img_default_width = 640 -%}
                                {%- else -%}
                                    {%- set promo_class = 'tlec-page-card' -%}
                                    {%- set img_sizes = { 600 : 1/2, 768 : 1/3, 1008 : '315px', 1280 : '300px'} -%}
                                    {%- set img_default_width = 320 -%}
                                {%- endif -%}
                                <li class="grid__item {{ promo_class }}">
                                    {{- ds_amen('promotion', promotion, {
                                        'h_tag': 'h3',
                                        'related_links_count': 2,
                                        'img_sizes': img_sizes,
                                        'img_default_width': img_default_width,
                                        'img_is_lazy_loaded': false,
                                        'media_variant': 'media--column media--card',
                                        'cta_class': 'cta br-box-secondary',
                                        'branding_name': 'secondary',
                                        'link_location_prefix': 'promo_' ~ loop.index ~ '_',
                                        'show_synopsis': programme.isRadio(),
                                    }) -}}
                                </li>
                            {%- endfor -%}

                            {%- for clip in clips -%}
                                <li class="grid__item tlec-page-card {{ loop.last ? 'grid__item--column' : ''}}">
                                    {{ ds_amen('programme', clip, {
                                        'context_programme': programme.isRadio() ? clip : programme,
                                        'branding_name': 'secondary',
                                        'title_options': {
                                            'h_tag': 'h3',
                                            'text_colour_on_title_link': true,
                                            'title_size_small': 'gel-long-primer',
                                        },
                                        'image_options': {
                                            'sizes': {
                                                600 : 1/2,
                                                768 : 1/3,
                                                1008 : '315px',
                                                1280 : '300px',
                                            },
                                        },
                                        'cta_options': {
                                            'cta_class': 'cta br-box-secondary',
                                        },
                                        'link_location_prefix': 'clip_' ~ loop.index ~ '_',
                                        'body_options': {
                                            'show_synopsis': programme.isRadio(),
                                        },
                                    })}}

                                    {%- if loop.last and programme.getAvailableClipsCount() > 4 -%}
                                        {{ this.trailing_link('programme_clips', 'see_all_clips', programme, 'clip_see_all') }}
                                    {%- endif -%}
                                </li>
                            {%- endfor -%}


                            {%- for gallery in galleries -%}
                                <li class="grid__item tlec-page-card {{ loop.last ? 'grid__item--column' : ''}}">
                                    {{- ds_amen('group', gallery, {
                                        'context_programme': (programme.isRadio() and gallery.getParent()) ? gallery.getParent() : programme,
                                        'branding_name': 'secondary',
                                        'link_location_prefix': 'group_' ~ loop.index ~ '_',
                                        'title_options': {
                                            'h_tag': 'h3',
                                            'text_colour_on_title_link': true,
                                            'title_size_small': 'gel-long-primer'
                                        },
                                        'image_options': {
                                            'sizes': {
                                                600 : 1/2,
                                                768 : 1/3,
                                                1008 : '315px',
                                                1280 : '300px',
                                            },
                                        },
                                        'cta_options': {
                                            'cta_class': 'cta br-box-secondary'
                                        },
                                        'link_location_prefix': 'gallery_' ~ loop.index ~ '_'
                                    }) -}}

                                    {%- if loop.last and programme.getAggregatedGalleriesCount() > 4 -%}
                                        {{- this.trailing_link('programme_galleries', 'see_all_galleries', programme, 'gallery_see_all') -}}
                                    {%- endif -%}
                                </li>
                            {%- endfor -%}
                        {%- endif -%}
                    </ul>
                    {%- if supportingContentItems -%}
                        <ul class="grid">
                            {%- for supportingContentItem in supportingContentItems -%}
                                <li class="tlec-page-supporting-content grid__item">
                                    {{- ds_amen('supportingContent', supportingContentItem) -}}
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}

                    {% if programme.getOption('telescope_block') and not isVotePriority %}
                        <div class="grid">
                            <div class="grid__item 1/2@gel3b">
                                {% include 'shared/telescope/target_element.html.twig' with {
                                    container_html_id: 'account-wrapper-vote'
                                } %}
                            </div>
                        </div>
                    {%- endif -%}

                </div>
            </div>
        </div>
    </div>

    {% if relatedTopics %}
        <div class="p-g-p">
            {{ ds_amen('relatedTopics', relatedTopics) }}
        </div>
    {% endif %}

    {% if relatedLinks %}
        <div class="p-g-p">
            <div class="br-box-secondary">
                <h2 class="gel-double-pica-bold island">{{ tr('related_links') }}</h2>
                <div class="related-links br-keyline media__meta-row--separator">
                    {%- for link in relatedLinks -%}
                        {{ ds_amen('relatedLink', link) }}
                    {%- endfor -%}
                </div>
            </div>
        </div>
    {% endif %}

    {{ ds_amen('footer', programme, recommendations) }}
{% endblock %}

{% macro trailing_link(route, translation, programme, link_location_prefix) %}
    <div class="trailing-link br-box-secondary">
        <div class="media__footer br-keyline">
            <a href="{{ path(route, { pid: programme.getPid() }) }}" class="icon-link link-complex 1/1 gel-pica-bold" data-linktrack="{{ link_location_prefix }}">
                {{ gelicon('media', 'collection', 'gelicon--programme br-secondary-text-ontext') }}
                <span class="link-complex__target icon-label--trailing-link">{{ tr(translation) }}</span>
            </a>
        </div>
    </div>
{% endmacro %}

{% block javascripts %}
    {{ parent() }}

    {% if programme.getOption('telescope_block') %}
        {% include 'shared/telescope/initialisation.html.twig' with {
            container_html_id: 'account-wrapper-vote',
            vote_id: programme.getOption('telescope_block').content.vote_id
        } %}
    {% endif %}

    {% if favouritesButton and mapPresenter.showMap() %}
        {{ favouritesButton.getBodyLast()|raw }}
        <script>{{ favouritesButton.getScript()|raw }}</script>
        <script>
            require(['plugins/musicfavourite'], function(fav) {
                var elem = document.getElementsByClassName("favourites-button")[0]; // DOM element within which to render the button
                fav.render(elem, {
                    'appid': 'radio',
                    'type': '{{ programme.getType() == 'brand' or programme.getType() == 'series' ? 'tlec' : 'programme' }}',
                    'id': '{{ programme.getPid() }}',
                    'title': '{{ programme.getTitle() }}',
                    'variant': 'small',
                    'lang': '{{ tr('language_code')|lower }}',
                    'platform': 'responsiveweb',
                    'context-type': 'network_pid',
                    'context-id': '{{ programme.getPid() }}'
                });
            });
        </script>
    {% endif %}

    {%- if lxPromo -%}
        {%- for script in lxPromo.getBodyLast() -%}
            {{ script|raw }}
        {%- endfor -%}
    {%- endif -%}
{% endblock %}
