<div class="media box-link gel-long-primer {{ group.getOption('media_variant') }}" id="{{ group.getUniqueID() }}" data-object-type="{{ group.getType() }}">
    <div class="media__body">
        <div class="{{ group.getMediaDetailsClass() }} {{ group.getBrandingClass() }}" data-eq-pts="actions-nowrap: 240">
            {{ ds_amen_presenter(group.getTitlePresenter()) }}
            {{ ds_amen_presenter(group.getBodyPresenter()) }}
        </div>
    </div>
    {{ ds_amen_presenter(group.getImagePresenter()) }}
</div>
