{% if synopsis.needsShorterSynopsis() %}
    <div class="synopsis-toggle text--prose">
        <input class="synopsis-toggle__status" id="{{ synopsis.getId() }}" type="checkbox" checked/>
        <div class="synopsis-toggle__short">
            {% for paragraph in synopsis.getShortSynopsis() %}
                <p>{{ paragraph|raw }}</p>
            {% endfor %}
            <label class="synopsis-toggle__button br-pseudolink" for="{{ synopsis.getId() }}">
                <span tabindex="0" role="button">{{ tr('show_more') }}</span>
            </label>
        </div>
        <div class="synopsis-toggle__long">
            {% for paragraph in synopsis.getLongestSynopsis() %}
                <p>{{ paragraph|raw }}</p>
            {% endfor %}
            <label class="synopsis-toggle__button br-pseudolink" for="{{ synopsis.getId() }}">
                <span tabindex="0" role="button">{{ tr('show_less') }}</span>
            </label>
        </div>
    </div>
{% else %}
    <div class="text--prose longest-synopsis">
        {% for paragraph in synopsis.getLongestSynopsis() %}
            <p>{{ paragraph|raw }}</p>
        {% endfor %}
    </div>
{% endif %}
