<!DOCTYPE html>
<html class="no-js {{branding.orbitThemeClasses|raw}} {% block html_classes %}{% endblock %}" lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        {{ orb.head|raw }}
        {{ branding.head|raw }}

        <link rel="stylesheet" href="{{asset('assets/css/ds2014.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ orb.bodyfirst|raw }}
        {{ branding.bodyFirst|raw }}

        <div class="schedules-main">
        {% block body %}{% endblock %}
        </div>

        {{ branding.bodyLast|raw }}
        {{ orb.bodylast|raw }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
