<div class="p-g-p no-margin-vertical">
    <div class="grid map">
        <div class="grid__item map__item {{ map.getLeftGridClasses() }}">
            {{ ds_amen_presenter(map.getLeftColumn()) }}
        </div>
        <div class="grid__item map__item {{ map.getRightGridClasses() }} map-grid__item">
            <div class="grid map-grid">
                <div class="map-grid__column-wrap 1/1">
                    {% for column in map.getRightColumns() %}
                        {{ ds_amen_presenter(column) }}
                    {% endfor %}
                </div>
                {{ ds_amen_presenter(map.getSocialBarPresenter()) }}
            </div>
        </div>
    </div>
</div>
