<div class="icon-link {{ cta.getOption('cta_class') }}">
    <a class="link-complex" href="{{ cta.getUrl() }}" data-linktrack="{{ cta.getLinkLocation() }}" aria-label="{{ tr(cta.getLabelTranslation()) }}">
        <div class="icon icon-cta icon--{{ cta.getMediaIconName() }}">
            {{ gelicon(cta.getMediaIconType(), cta.getMediaIconName(), 'gelicon--programme') }}
            {%- block message -%}{%- endblock -%}
        </div>
    </a>
</div>
