<div class="media box-link gel-long-primer {{ collapsed_broadcast.getOption('media_variant') }}" id="{{ collapsed_broadcast.getUniqueID() }}">
    <div class="media__body">
        <div class="{{ collapsed_broadcast.getMediaDetailsClass() }} {{ collapsed_broadcast.getBrandingClass() }}" data-eq-pts="actions-nowrap: 240">
            {{ ds_amen_presenter(collapsed_broadcast.getTitlePresenter()) }}
            {{ ds_amen_presenter(collapsed_broadcast.getBodyPresenter()) }}
            {{ ds_amen_presenter(collapsed_broadcast.getDetailsPresenter()) }}

            <div class="actions-wrapper 1/1">
                {%- if collapsed_broadcast.showStandaloneCta() -%}
                    {{- ds_amen_presenter(collapsed_broadcast.getCtaPresenter()) -}}
                {%- endif -%}

                {%- if collapsed_broadcast.showWatchFromStartCta() -%}
                    {{- ds_amen_presenter(collapsed_broadcast.getCtaPresenter({
                        'link_to_start': true,
                        'cta_class': ''
                    })) -}}
                {%- endif -%}
            </div>
        </div>
    </div>
    {{- ds_amen_presenter(collapsed_broadcast.getImagePresenter()) -}}
</div>
