<div class="media box-link gel-long-primer {{ programme.getOption('media_variant') }}" id="{{ programme.getUniqueID() }}">
    <div class="media__body">
        <div class="{{ programme.getMediaDetailsClass() }} {{ programme.getBrandingClass() }}" data-eq-pts="actions-nowrap: 240">
            {{ ds_amen_presenter(programme.getProgrammeTitlePresenter()) }}
            {{ ds_amen_presenter(programme.getProgrammeBodyPresenter()) }}

            {% if not programme.getOption('show_image') and programme.getProgrammeCtaPresenter() %}
                {{ ds_amen_presenter(programme.getProgrammeCtaPresenter()) }}
            {% endif %}
        </div>
    </div>
    {{ ds_amen_presenter(programme.getProgrammeImagePresenter()) }}
</div>
