{% if week_date_list_item.isToday() %}
    <th scope="col" class="date-list__page week-guide__table__day day-{{ week_date_list_item.getOffset() }} br-box-page">
        <span class="box-link date-list date-list__page--current text--shout">
            <span class="date-list__item-line1">{{ tr('language_code') == 'fr' ? week_date_list_item.getDatetime()|local_date_intl('eee') : tr('schedules_today') }}</span>
            <span class="date-list__item-line2">{{ week_date_list_item.getDatetime()|local_date_intl('d MMM') }}</span>
        </span>
    </th>
{% else %}
    <th scope="col" class="date-list__page week-guide__table__day day-{{ week_date_list_item.getOffset() }}">
        <a class="box-link br-page-bg-onbg--hover br-page-linkhover-ontext--hover date-list text--no-ul text--shout" href="{{ path('schedules_by_day', {pid: week_date_list_item.getService().getPid(), date: week_date_list_item.getDatetime().format('Y/m/d')}) }}" data-href-add-utcoffset="true" >
            <span class="date-list__item-line1">{{ week_date_list_item.getDatetime()|local_date_intl('eee') }}</span>
            <span class="date-list__item-line2">{{ week_date_list_item.getDatetime()|local_date_intl('d MMM') }}</span>
        </a>
    </th>
{% endif %}
