{% import _self as self %}

{% if segments_list.getSegmentEvents() %}
    <link rel="stylesheet" href="{{ asset('css/snippet/snippets.css') }}" />
    <script>
        require(["snippets", "bump-3", "istats-1"], function(snippets, bump, istats) {
            snippets.init({
                base_url: '/programmes/snippet',
                context: "programmes",
                theme: "music-track"
            }, bump, istats);
        });
    </script>
    <div class="component component--box component--box-flushbody-vertical component--box--primary" id="segments">
        {% block title %}
            <div class="component__header br-box-page">
                <{{ segments_list.getHeadingTag() }}>{{ tr(segments_list.getTitle()) }}</{{ segments_list.getHeadingTag() }}>
            </div>
        {% endblock %}
        <div class="component__body br-box-page">
            <div class="segments-list {{ segments_list.getMorelessClass() }}">
                {# Only show playlister intro if there are music segments #}
                {% if segments_list.hasMusicSegmentItems() %}
                    <a class="segments-list__header segments-list__playlister br-keyline" href="{{ path('my_tracks') }}">
                        {{ tr('playlister_tagline', {'%1': 'My Tracks'}) }}
                    </a>
                {% endif %}

                {% if segments_list.hasTimingIntro() %}
                    <p class="no-margin segments-list__header br-keyline br-box-subtle">
                        {{ tr(segments_list.getTimingIntroTranslationString()) }}
                    </p>
                {% endif %}

                {% if segments_list.hasMoreless() %}
                    <input class="ml__status" id="segments-moreless" type="checkbox" checked>

                    <ul class="list-unstyled segments-list__items ml__content">
                        {% for presenter in segments_list.getSegmentItemsPresenters() %}
                            {{ ds2013_presenter(presenter) }}
                        {% endfor %}
                    </ul>

                    <label class="ml__button island text--center br-box-highlight" for="segments-moreless">
                        <span class="br-pseudolink">
                            <span class="ml__label--more">{{ tr('show_more') }}</span>
                            <span class="ml__label--sep"> / </span>
                            <span class="ml__label--less">{{ tr('show_less') }}</span>
                        </span>
                    </label>
                {% else %}
                    <ul class="list-unstyled segments-list__items">
                        {% for presenter in segments_list.getSegmentItemsPresenters() %}
                            {{ ds2013_presenter(presenter) }}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
