{% extends 'base_ds2013.html.twig' %}

{% block title %}{{ meta_context.titlePrefix() }} - {{ tr('profiles') }}{% endblock %}
{% block page_classes %}text-base{% endblock %}

{% block body %}
    <div class="prog-layout">
        {% block body_inner %}{% endblock %}
    </div>
    {% if profile.getParents() %}
        <div class="programmes-page programmes-page--stripe br-box-subtle">
            <div class="prog-layout">
                <div class="prog-layout__primary">
                    {% for parent in profile.getParents() %}
                        <div class="component component--box">
                            <div class="component__header">
                                <h2>
                                    <a href="{{ path('programme_profile', {'key': parent.getKey(), 'slug': parent.getSlug()}) }}">{{ parent.getTitle() }}</a>
                                </h2>
                            </div>
                            <div class="component__body">
                                {% if parent.getChildren() %}
                                    <ul class="grid-wrapper highlight-box-wrapper highlight-box-wrapper--grid">
                                        {%- for child in parent.getChildren() -%}
                                            <li class="grid 1/2@bpb1 1/3@bpb2 1/3@bpw 1/4@bpw2 1/5@bpe">
                                                {{ ds2013('profile', child, {'show_synopsis': false, 'heading_level': 'h3'}) }}
                                            </li>
                                        {%- endfor -%}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'shared/stream_clips.html.twig' %}
{% endblock %}
