<div class="media__meta-group">
    <div class="broadcast-details programme__broadcast-date gel-minion"
        data-timezone="true"
        content="{{ details.getDateTimestamp() }}" >
        {# Broadcast date #}
        <span class="timezone timezone--date">
            {{- details.getDay() -}}
        </span>
        <span class="timezone timezone--time">
            {{- details.getTime()|local_date('H:i') -}}&nbsp;{{- details.getTime()|time_zone_note() -}}
        </span>

        {# Service details #}
        <div class="broadcast-details__service">
            {%- for breakdown in details.getNetworksAndServicesDetails() -%}
                <span class="gel-minion-bold" property="name">{{ breakdown.getNetworkName() }}</span>
                {%- if breakdown.getServicesNames() -%}
                    <span>{{ breakdown.getServicesNames() }}</span>
                {%- endif -%}
            {%- endfor-%}
        </div>
    </div>
</div>



