<div class="media__meta-group">
    <div class="broadcast-details programme__broadcast-date gel-minion"
        data-timezone="true"
        content="{{ details.getDateTimestamp() }}" >
        {# Broadcast date #}
        <span class="timezone timezone--date">
            {{- details.getDay() -}}
        </span>
        <span class="timezone timezone--time">
            {{- details.getTime()|local_date('H:i') -}}&nbsp;{{- details.getTime()|time_zone_note() -}}
        </span>

        {# Service details #}
        <div class="broadcast-details__service">
            {%- for breakdown in details.getNetworksAndServicesDetails() -%}
                {% if not loop.first and not loop.last %},&#32;{%- endif -%}
                {% if loop.last and loop.length > 1 %}&#32;&&#32;{%- endif -%}
                {%- if breakdown.getNetwork() and breakdown.getNetwork().getUrlKey() -%}
                    <a class="gel-minion-bold" href="{{ path('network', {'networkUrlKey': breakdown.getNetwork().getUrlKey()}) }}">{{ breakdown.getNetworkName() }}</a>
                {%- else -%}
                    <span class="gel-minion-bold">{{ breakdown.getNetworkName() }}</span>
                {%- endif -%}
                {%- if breakdown.getServicesNames() -%}
                    {# The space before the services names below is necessary #}
                    <span> {{ breakdown.getServicesNames() }}</span>
                {%- endif -%}
            {%- endfor-%}
        </div>
    </div>
</div>



