<div class="component component--box{{ table.isInPrimaryColumn() ? ' component--box-flushbody-vertical component--box--primary' : ' component--box--striped component--box--secondary' }}">
    <div class="component__header{{ table.isInPrimaryColumn() ? ' br-box-page' : ' br-box-highlight'}}">
        <h2>{{ table.getTableBlock().getTitle() }}</h2>
    </div>
    <div class="component__body {{ table.isInPrimaryColumn() ? ' br-box-page' : ' br-box-subtle'}}">
        <table class="table table--slatted">
            <thead>
                <tr>
                    {% for heading in table.getTableBlock().getHeadings() %}
                        <th class="{{ table.getHeaderClasses() }}">{{ heading }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table.getTableBlock().getRows() %}
                    <tr>
                        {% for column in row %}
                            <td class="{{ table.getCellClasses() }}">{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
