{% extends 'styleguide/amen/base.html.twig' %}
{% import _self as self %}

{% block section_name %}Promotion{% endblock %}

{% block content %}
        <h2 class="gel-double-pica-bold islet islet--vertical">Use cases: </h2>
        {{ self.displayListOfRenderDescriptors(promosOfDifferentTypes) }}

        <hr>
        <h2 class="gel-double-pica-bold islet islet--vertical">Display variations: </h2>
        {{ self.displayListOfRenderDescriptors(promosWithDifferentDisplayOptions) }}

        <hr>
        <h2 class="gel-double-pica-bold islet islet--vertical">Html variations: </h2>
        {{ self.displayListOfRenderDescriptors(promotionsWithDifferentHtmlAttributes) }}
{% endblock %}

{% macro displayOptionParam(key, value) %}
    {% import _self as self %}

    {% if value is same as (true) or value is same as (false) %}
        <li> {{ key }} = {{ value ? 'true' : 'false' }} </li>
    {% else %}
        <li> {{ key }} = {{ value }} </li>
    {% endif %}
{% endmacro %}

{% macro renderOptionsToString(renderOptions) %}
    {% import _self as self %}
    <b>Render options:</b>
    {% if renderOptions | length > 0 %}
        <ul>
            {% for key, value in renderOptions %}
                {{  self.displayOptionParam(key, value) }}
            {% endfor %}
        </ul>
    {% else %}
         Defaults
    {% endif %}
{% endmacro %}

{% macro displayListOfRenderDescriptors(listOfRenderDescriptorsDto) %}
    {% import _self as self %}

    {% for description, presenterArgs in listOfRenderDescriptorsDto %}
        <div class="grid">
             <div class="grid__item 1/3 grid__item--column">
                <div>
                    <b>Description:</b> {{description}}
                </div>
                <div>
                    {{ds_amen('promotion', presenterArgs['item'], presenterArgs['render_options'])}}
                </div>
                <div class="islet islet--horizontal">
                    {{self.renderOptionsToString(presenterArgs['render_options'])}}
                </div>
             </div>
        </div>
    {% endfor %}
{% endmacro %}
