{%- set object_classes = build_css_classes({
    'broadcast-event programme' : true,
    (broadcast_event.getOption('container_classes')): true
}) -%}

{%- set network_image_classes = build_css_classes({
    'programme__img': broadcast_event.getOption('show_logo'),
    (broadcast_event.getOption('image_classes')): broadcast_event.getOption('show_logo'),
}) -%}

<div class="{{ object_classes }}">
    {%- if broadcast_event.getOption('show_logo') and broadcast_event.getMainBroadcastNetwork() is not null -%}
        {% set mainBroadcastNetwork = broadcast_event.getMainBroadcastNetwork() %}
        <div class="{{ network_image_classes }}">
            {%- if mainBroadcastNetwork.getUrlKey() -%}
                <a href="{{ broadcast_event.getNetworkUrl(mainBroadcastNetwork) }}"><img src="{{ asset('images/logos/64x36/' ~ mainBroadcastNetwork.getNid() ~ '.png') }}" alt="" width="64" height="36"></a>
            {%- else -%}
                <img src="{{ asset('images/logos/64x36/' ~ mainBroadcastNetwork.getNid() ~ '.png') }}" alt="" width="64" height="36">
            {%- endif -%}
        </div>
    {%- endif -%}
    <div class="programme__body programme__body--flush">
        <div class="broadcast-event__time beta"
             data-timezone="true"
             title="{{ broadcast_event.getCollapsedBroadcast().getStartAt()|local_date('d M Y')}}"
             datatype="xsd:dateTime"
             content="{{ broadcast_event.getCollapsedBroadcast().getStartAt()|date('c')}}">
            <span class="broadcast-event__date text-base timezone--date">{{ broadcast_event.getBroadcastDay() }}</span>
            <span class="timezone--time">{{ broadcast_event.getCollapsedBroadcast().getStartAt()|local_date('H:i') }}</span>
        </div>
        <div class="programme__service box-link__elevated micro text--subtle">
            {%- for breakdown in broadcast_event.getNetworkBreakdown -%}
                {%- if breakdown.getNetwork() and breakdown.getNetwork().getUrlKey() -%}
                    <a href="{{ broadcast_event.getNetworkUrl(breakdown.getNetwork()) }}">{{ breakdown.getNetworkName() }}</a>
                {%- else -%}
                    <span>{{ breakdown.getNetworkName() }}</span>
                {%- endif -%}
                {%- if breakdown.getServicesNames() -%}
                    <span>&nbsp;{{ breakdown.getServicesNames() }}</span>
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</div>

{%- if broadcast_event.getOption('show_watch_from_start') and broadcast_event.getRewindUrl() -%}
    <p class="programme__live hidden visible@bpw">
        <a class="link-complex--sub" href="{{ broadcast_event.rewindUrl() }}">
            {{ gelicon('basics', 'live-restart', 'gelicon gelicon--centi gelicon--leading') }}
            {{ tr('iplayer_watch_from_start') }}
       </a>
    </p>
{% endif %}

{% if (broadcast_event.getOption('show_on_air_message') and broadcast_event.isOnAir()) %}
    <div class="broadcast__live centi br-box-highlight">
        {{ tr(broadcast_event.getOnAirMessage) }}
    </div>
{% endif %}
