{% extends 'base_ds2013_partial.html.twig' %}

{%- block body -%}
    <h2 class="text--shout centi no-margin">
        {% if simulcastUrl %}
            <a href="{{ simulcastUrl }}">{{ tr(isRadio ? "iplayer_listen_live" : "iplayer_watch_live") }}</a>
        {% else %}
            <span>{{ tr(isRadio ? "on_air" : "on_now") }}</span>
        {% endif %}
    </h2>

    <h3 class="centi">{{ broadcast.getStartAt()|local_date('H:i') }} {{ broadcast.getStartAt()|time_zone_note() }}</h3>

    <div class="programme block-link programme--grid">
        <div class="programme__img one-whole programme__img--hasimage">
            <meta property="image" content="{{ broadcast.getProgrammeItem().getImage().getUrl(480,270) }}"/>
            <div class="programme__img-box">
                <div class="image lazy-img rsp-img" data-img-blank="{{ asset('images/blank.png') }}" data-img-src-68="{{ broadcast.getProgrammeItem().getImage().getUrl(160, 90) }}"></div>
            </div>
        </div>
        <div class="programme__body programme__body--flush">
            <h4 class="programme__titles">
                <a href="{{ path('find_by_pid', {'pid': broadcast.getProgrammeItem().getPid()}) }}" class="br-blocklink__link">
                    <span class="programme__title">{{ broadcast.getProgrammeItem().getTleo().getTitle() }}</span>
                </a>
            </h4>
        </div>
        <a class="block-link__overlay-link" href="{{ path('find_by_pid', {'pid': broadcast.getProgrammeItem().getPid()}) }}"
           aria-hidden="true" tabindex="-1">View Programme information</a>
    </div>
{%- endblock -%}
