{% extends 'base_ds2013.html.twig' %}

{% block title %}{{ meta_context.titlePrefix() }} - {{ tr('downloads') }}{% endblock %}
{% block page_classes %}text-base programmes-page--smallpush prog-layout{% endblock %}

{%- block body -%}
    {% if entity.isPodcastable %}
        <div class="grid-wrapper grid-wrapper--flush map map--episode map--count-2">
            <div class="grid 2/3@bpw2 3/4@bpe map__column map__column--first">
                <div class="map__inner  br-box-secondary">
                    <div class="island">
                        <h1><span class="visually-hidden">The Archers </span><span class="deemphasize block-link">Podcast</span></h1>
                        <div class="map__intro__synopsis centi">
                            {{ ds_shared('synopsis', entity.synopses, 300) }}
                        </div>
                        {% if podcast.isUkOnly %}  <p>UK only</p> {% endif %}
                        <div class="grid-wrapper micro">
                            <div class="grid 1/2">
                                <div class=""> <strong>Updated: </strong> <span class="nowrap">{{ tr('updated_'~podcast.FREQUENCY)}}</span> </div>
                            </div>
                            <div class="grid 1/2">
                                <div> <strong>Episodes available: </strong><span class="nowrap">
                                        {% if podcast.availability ==-1 %} {{ tr('iplayer_time_indefinitely') }} {% endif %}
                                        {% if podcast.availability ==7 %} {{ tr('iplayer_time_weeks',1) }} {% endif %}
                                        {% if podcast.availability ==14 %} {{ tr('iplayer_time_weeks',2) }} {% endif %}
                                        {% if podcast.availability ==30 %} {{ tr('iplayer_time_months',1) }} {% endif %}
                                        {% if podcast.availability ==60 %} {{ tr('iplayer_time_months',2) }} {% endif %}
                                    </span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid 1/3@bpw2 1/4@bpe map__column map__column--2 map__column--last">
                <div class="map__inner br-box-secondary">
                    <div class="island">
                        <div class="popup">
                            <input class="popup__status" type="checkbox" id="popup-2" checked="">
                            <h2 class="gamma popup__button popup__button--subscribe br-pseudolink br-linkinvert"> <label for="popup-2"> <i aria-hidden="true" class="gelicon gelicon--media--podcast gelicon--leading"></i>Subscribe </label> </h2>
                            <div class="popup__holder visually-hidden" id="popup-2-holder">
                                <div class="popup__content popup__content--subscribe br-box-secondary br-secondary-link-onbg br-secondary-link-onborder br-secondary-link-onborder--beforeafter">
                                    <h3 class="popup__header br-secondary-link-onborder--beforeafter br-secondary-linkhover-onborder--hover-beforeafter gamma no-margin deemphasize"> <label class="popup__close island--squashed br-secondary-bg-onborder br-linkinvert" for="popup-2"> <span class="pull--right-spaced"><i aria-hidden="true" class="gelicon gelicon--no"></i> </span>Subscribe to podcast </label> </h3>
                                    <ul class="list-unstyled popup__list">
                                        <li> <a data-istats-track="programmes_podcast_series_subscribe_itunes" class="link-complex popup__list__item island--squashed br-secondary-bg-ontext br-secondary-bg-onbg--hover br-secondary-link-ontext--hover" href="pcast://podcasts.files.bbci.co.uk/b006qpgr.rss"> <i aria-hidden="true" class="gelicon gelicon--apple gelicon--leading"></i> <span class="link-complex__target"> iTunes / iOS </span> </a> </li>
                                        <li> <a data-istats-track="programmes_podcast_series_subscribe_android" class="link-complex popup__list__item island--squashed br-secondary-bg-ontext br-secondary-bg-onbg--hover br-secondary-link-ontext--hover" href="http://podcasts.files.bbci.co.uk/b006qpgr.rss"> <i aria-hidden="true" class="gelicon gelicon--android gelicon--leading"></i> <span class="link-complex__target"> Android / Google Play </span> </a> </li>
                                        <li> <a data-istats-track="programmes_podcast_series_subscribe_windows" class="link-complex popup__list__item island--squashed br-secondary-bg-ontext br-secondary-bg-onbg--hover br-secondary-link-ontext--hover" href="pcast://podcasts.files.bbci.co.uk/b006qpgr.rss"> <i aria-hidden="true" class="gelicon gelicon--windows gelicon--leading"></i> <span class="link-complex__target"> Windows Phone </span> </a> </li>
                                        <li> <a data-istats-track="programmes_podcast_series_subscribe_rss" class="link-complex popup__list__item island--squashed br-secondary-bg-ontext br-secondary-bg-onbg--hover br-secondary-link-ontext--hover" href="http://podcasts.files.bbci.co.uk/b006qpgr.rss"> <i aria-hidden="true" class="gelicon gelicon--media--rss gelicon--leading"></i> <span class="link-complex__target"> RSS </span> </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="programmes-page">
            <div class="grid-wrapper grid-wrapper--center">
                <div class="grid 2/3@bpw2 2/3@bpe">
                    <div >
                        <div class="br-box-page prog-box">
                            <div class="component component--box component--box-flushbody component--box--primary">
                                <div class="component__header br-box-page">
                                    <h2>Episodes to download</h2>
                                </div>
                                <div class="component__body br-box-page">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid 1/3@bpw2 1/3@bpe">
                    <div>
                        <div class="component component--box component--box--striped component--box-flushbody component--box--secondary">
                            <div class="component__header br-box-highlight">
                                <h2 data-linktrack="superpromo_title">Who knows their character best?</h2>
                            </div>
                            <div class="component__body br-box-subtle">
                                <div class="superpromo">
                                </div>
                            </div>
                        </div>
                        {#needs the lost of other related podcasts#}
                    </div>
                </div>
            </div>
    </div>

    <script> require(['popup'], function(popup) { var p = new popup({containerSelector: '.popup'}); }); </script>
{%- endblock -%}
