<div class="b-g-p no-margin-vertical">
    <div class="grid-wrapper grid-wrapper--flush map map--episode map--count-2">

        {#PLAYOUT#}
        <div class="grid 2/3@bpw2 2/3@bpe map__column map__column--first">
            <div class="map__inner br-box-secondary" data-map-column="playout-details">
                    {{ ds2013_presenter(episode_map.getPlayoutSubpresenter()) }}
                    {{ ds2013_presenter(episode_map.getDetailsSubpresenter()) }}
            </div>
        </div>

        {#SIDE PANELS#}
        <div class="grid 1/3@bpw2 1/3@bpe map__column map__column--2 map__column--last">
            <div class="map__inner">
                {%- for panel in episode_map.getSidePanelsSubPresenters() -%}
                    {# This line has to be all on one line for the :empty rule to apply correctly #}
                    <div class="{{ build_css_classes({ 'br-box-secondary': true, 'map__column': loop.last and loop.length > 1, 'map__fauxcolumn': loop.last }) }}" data-map-column="{{ panel.getDataColumnAttribute() }}">{{ ds2013_presenter(panel) }}</div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>
