{% import _self as self %}

<div class="grid__item map__item {{ on_demand.getClass() }}">
    <div class="map-card-wrap br-box-secondary" data-map-column="on_demand2016">
        {%- if not on_demand.getStreamableEpisode() and not on_demand.getPendingEpisode() and not on_demand.hasUpcomingEpisode() -%}
            {%- if on_demand.getProgrammeContainer().isRadio() -%}
                {% include '@DsAmen/Organism/Map/SubPresenter/message.html.twig' with {heading:tr(on_demand.getTitleTranslationString()), message:tr('programme_availability_none_radio')} only %}
            {%- else -%}
                {% include '@DsAmen/Organism/Map/SubPresenter/message.html.twig' with {heading:tr(on_demand.getTitleTranslationString()), message:tr('not_available_iplayer')} only %}
            {%- endif -%}
        {%- elseif on_demand.episodeIsPending() -%}
            {{ self.main_column(on_demand.getPendingEpisode(), on_demand) }}
        {%- elseif on_demand.getStreamableEpisode() -%}
            {{ self.main_column(on_demand.getStreamableEpisode(), on_demand) }}
        {%- else -%}
            {% include '@DsAmen/Organism/Map/SubPresenter/message.html.twig' with {heading:tr(on_demand.getTitleTranslationString()), message:tr('available_shortly')} only %}
        {%- endif -%}
    </div>
</div>

{% macro main_column(episode, presenter) %}
    <div class="island">
        <h2 class="gel-double-pica-bold">{{ tr(presenter.getTitleTranslationString()) }}</h2>
    </div>
    {{ ds_amen('programme', episode, {
        'context_programme': presenter.getProgrammeContainer(),
        'media_variant': 'media media--column media--card map-card',
        'branding_name': 'secondary',
        'show_image': presenter.shouldShowImage(),
        'link_location_prefix': 'map_ondemand_',
        'title_options': {
            'text_colour_on_title_link': false,
            'title_size_large': 'gel-great-primer-bold'
        },
        'image_options': {
            'badge_text': tr(presenter.getBadgeTranslationString()),
            'is_lazy_loaded': false,
            'sizes': presenter.getImageSizes(),
            'default_width': presenter.getDefaultImageSize(),
        },
        'force_iplayer_linking': true
    }) }}

    {%- if presenter.getProgrammeContainer().getAvailableEpisodesCount() > 0 and not presenter.showMiniMap() -%}
        <div class="map__additional-info gel-pica br-keyline media__meta-row--separator">
            <p>
                <a
                    data-linktrack="{{ presenter.getAllLinkLocation() }}"
                    {%- if presenter.getProgrammeContainer().isRadio() -%}
                        title="{{ tr('all_episodes_iplayer_radio', {'%1': presenter.getProgrammeContainer().getTitle()}) }}"
                    {%- else -%}
                        title="{{ tr('all_episodes_iplayer', {'%1': presenter.getProgrammeContainer().getTitle()}) }}"
                    {%- endif -%}
                    href="{{ path('iplayer_episodes', {'pid': presenter.getProgrammeContainer().getPid()}) }}"
                    class="gel-pica-bold istats--all-on-demand">
                    {{ tr('all_available_episodes') }}
                </a>
                <span class="gel-long-primer">
                    ({{ tr('x_total', {'%1': presenter.getProgrammeContainer().getAvailableEpisodesCount()}, presenter.getProgrammeContainer().getAvailableEpisodesCount()) }})
                </span>
            </p>
        </div>
    {%- endif -%}
{% endmacro %}
