{%- set title_classes = build_css_classes({
    'grid': true,
    '1/2@bpw2 1/2@bpe': schedules_by_day_page.hasSiblingServiceLink(),
}) -%}

<div class="grid-wrapper">
    <div class="{{ title_classes }}">
        <p class="beta">
            {%- if schedules_by_day_page.hasSiblingServiceLink() and schedules_by_day_page.getService().getName() != schedules_by_day_page.getService().getNetwork().getName() -%}
                {{- tr('schedule_title', {'%1': schedules_by_day_page.getService().getShortName()}) -}}
            {% else %}
                {{- tr('schedules', 1) -}}
            {%- endif -%}
        </p>
    </div>
    {% if schedules_by_day_page.hasSiblingServiceLink() %}
         <div class="grid 1/2@bpw2 1/2@bpe">
            <div class="text--right@bpw">
                {% set link = schedules_by_day_page.getTwinServicePid() ? path('schedules_by_day', {
                    'pid': schedules_by_day_page.getTwinServicePid(),
                    'date': schedules_by_day_page.getRouteDate(),
                }) : '#outlets' %}
                <a href="{{ link }}" class="delta">{{ tr(schedules_by_day_page.getSiblingServicesLinkMessage(), {'%1': schedules_by_day_page.getSiblingServicesLinkName()}) }}</a>
            </div>
         </div>
    {% endif %}
</div>

{% if schedules_by_day_page.hasJumpLinks() %}
    <div class="g-c-l">
        <div class="schedules-jump island micro">
            <span class="pull--left schedules-jump__title">{{ tr('skip_to') }}: </span>
            <ul class="schedules-jump__links nav nav--piped">
                {%- if schedules_by_day_page.getOnAirBroadcast() -%}
                    <li><a href="#on-now">{{ tr('on_air') }}</a></li>
                {%- endif -%}
                {%- for period_name, broadcast_in_period in schedules_by_day_page.getBroadcastsGroupedByPeriodOfDay() -%}
                    {%- if broadcast_in_period -%}
                        <li><a href="#{{ period_name }}">{{ tr('schedules_period_' ~ period_name) }}</a></li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </div>
{% endif %}

{% if schedules_by_day_page.hasBroadcasts() %}
    <ol class="list-unstyled g-c-l" {{ schedules_by_day_page.dataPageTimeAttr()|raw }}>
        {% set onairshown = false %}
        {% set showBackToTop = false %}
        {% for period_name, broadcast_in_period in schedules_by_day_page.getBroadcastsGroupedByPeriodOfDay() %}
            <li id="{{ period_name }}" class="schedule-skip-link">
                {% if showBackToTop %}
                    <a class="pull--right micro link-complex"
                       href="#top">{{ gelicon('basics', 'to-top', 'gelicon--centi gelicon--leading') }}<span
                            class="link-complex__target">{{ tr('back_to_top_of_page') }}</span></a>
                {% endif %}
                {% set showBackToTop = schedules_by_day_page.hasJumpLinks() %}
                <h2 class="delta text--shout island--horizontal component">{{ tr('schedules_period_' ~ period_name) }}</h2>
                <ol class="highlight-box-wrapper">
                    {# list of broadcasts in day period #}
                    {% for broadcast in broadcast_in_period %}
                        {% set onairattributes = '' %}
                        {% set collapsed_broadcast = null %}
                        {% if broadcast.isOnAir() and not onairshown %}
                            {% set onairattributes = 'id=on-now class=schedule-skip-link-on-now' %}
                            {% set collapsed_broadcast = schedules_by_day_page.getLiveCollapsedBroadcast() %}
                            {% set onairshown = true %}
                        {% endif %}
                        <li {{ onairattributes }}>
                            {{ ds2013('broadcast', broadcast, collapsed_broadcast, {
                                'highlight_box_classes' : 'highlight-box--list'
                            }) }}
                        </li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor %}
    </ol>
{% else %}
    {{ ds2013('noSchedule', schedules_by_day_page.getService(), schedules_by_day_page.getBroadcastDayStart().startOfDay(), schedules_by_day_page.getBroadcastDayStart().endOfDay()) }}
{% endif %}

{% if schedules_by_day_page.getService().isActiveAt(schedules_by_day_page.getBroadcastDayStart().addDay()) %}
    <div class="g-c-l">
        <p class="tomorrow-bar">
            {%- set nextDay = schedules_by_day_page.getBroadcastDayStart().addDays(1) -%}
            {% if schedules_by_day_page.getService().isInternational() %}
                {%- set attributes = build_html_attributes({'data-href-add-utcoffset' : 'true'}) -%}
            {% else %}
                {%- set attributes = '' -%}
            {% endif %}
            <a class="tomorrow-bar--link island islet@bpw text--no-ul text--right br-page-linkhover-onbg015 br-page-linkhover-onbg--hover br-page-bg-ontext--hover"
               href="{{ path('schedules_by_day', {'pid': schedules_by_day_page.getService().getPid(), 'date': nextDay.format('Y/m/d')}) }}" {{ attributes }}>
                {%- if nextDay.isTomorrow() -%}
                    {{ tr('schedules_tomorrow') }}
                {%- elseif nextDay.isToday() -%}
                    {{ tr('schedules_today') }}
                {%- else -%}
                    {{ nextDay|local_date_intl('EEEE d MMMM yyyy') }}
                {%- endif -%}
                {{ gelicon('basics', 'next', 'gelicon--centi gelicon--trailing') }}
            </a>
        </p>
    </div>
{% endif %}

<div class="island--vertical">
    {%- if schedules_by_day_page.getOtherNetworks() -%}
        <ul class="tv-channels component nav">
            {%- for network in schedules_by_day_page.getOtherNetworks() -%}
                {%- set classes = build_css_classes({
                    'tv-channels__item': true,
                    ('tv-channels__item--' ~ network.getNid()) : true,
                    'tv-channels__item--active' : (schedules_by_day_page.getService().getNetwork().getNid() == network.getNid())
                }) -%}
                <li class="tv-channels__listitem">
                    <a class="{{ classes }}"
                       href="{{ path('schedules_by_day', {'pid': network.getDefaultService().getPid(), 'date': schedules_by_day_page.getRouteDate()}) }}">
                        <span class="visually-hidden">{{ network.getDefaultService().getName() }}</span>
                    </a>
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
    {%- if schedules_by_day_page.getService().isTv() -%}
        <ul class="nav nav--piped text--right">
            <li>
                <a class="deemphasize" href="/showsandtours/">Shows &amp; Tours</a>
            </li>
            <li>
                <a class="deemphasize" href="http://faq.external.bbc.co.uk/questions/television/">Help &amp; FAQ</a>
            </li>
        </ul>
    {%- endif -%}
</div>
{{ ds2013_presenter(schedules_by_day_page.getSiblingServicePresenter()) }}
