{% if programme_body.getOption('show_synopsis') %}
    <p class="programme__synopsis text--subtle centi">
        {% if programme_body.hasDefinedPositionUnderParentProgramme() %}
            {% set position_text = tr('episode_number', {
                '%1': programme_body.getProgramme().getPosition(),
                '%2': programme_body.getProgramme().getParent().getExpectedChildCount(),
            }) %}
            {% spaceless %}
                <abbr title="{{ position_text }}">
                    <span datatype="xsd:int">{{ programme_body.getProgramme().getPosition() }}</span>/<span class="programme__groupsize">{{ programme_body.getProgramme().getParent().getExpectedChildCount() }}</span>
                </abbr>
            {% endspaceless %}
        {% endif %}
        <span>{{ truncate(programme_body.getProgramme().getShortSynopsis(), programme_body.getSynopsisTruncationLength()) }}</span>
        {% block synopsis_extra %}{% endblock %}
    </p>
{% endif %}
{% if programme_body.shouldShowDuration() %}
    <p class="programme__service micro">
        {% if programme_body.getOption('wordy_duration') %}
            {{ tr('duration', {'%1': programme_body.getDurationInWords() }) }}
        {% else %}
            {{ tr('duration', {'%1': programme_body.getFormattedDuration() }) }}
        {% endif %}
    </p>
{% endif %}
{# This exists solely to be extended. @TODO revisit once this is more fleshed out #}
{% block body_extra %}{% endblock %}
